<section id="footer">
    <div class="row">
        <div class="col">
            <a href="/home">
                <img src="/images/ACR_Logo_TB.png" alt="AuoCreed Racing Logo" id="autocreedLogo">
            </a>
        </div>
        <div class="col-sm">
            <div id="address">
                <h5 class="heading">Address</h5>
                <p>Lorem ipsum dolor sit amet,<br>consectetur adipiscing elit.</p>
            </div>
        </div>
        <div class="col-sm">
            <div id="phoneNo">
                <h5 class="heading">Contact No.</h5>
                <p>+919876543210</p>
            </div>
            <div id="email">
                <h5 class="heading">Email ID</h5>
                <p>someone@example.com</p>
            </div>
        </div>
        <div class="col-sm">
            <div class="social-icons">
                <ul>
                    <li>
                        <a class="facebook" href="https://www.facebook.com/autocreedracing/" target="_blank">
                            <i class="fab fa-facebook" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li>
                        <a class="linkedin" href="https://www.linkedin.com/company/autocreedracing/?originalSubdomain=in" target="_blank">
                            <i class="fab fa-linkedin"></i>
                        </a>
                    </li>
                    <li>
                        <a class="instagram" href="https://www.instagram.com/autocreedracingsrm/?hl=en" target="_blank">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div id="container">
        <div class="footer-links">
            <ul>
                <li><a href="/"><i class="fas fa-home"></i> Home</a></li>
                <li><a href="/team"><i class="fas fa-users"></i> Team</a></li>
                <li><a href="/alumni"><i class="fas fa-user-graduate"></i> Alumni</a></li>
                <li><a href="/gallery"><i class="fas fa-image"></i> Gallery</a></li>
                <li><a href="/sponsors"><i class="fas fa-handshake"></i> Sponsors</a></li>
                <li><a href="/support"><i class="fas fa-store"></i> Support Us</a></li>
                <li><a href="/contact"><i class="fas fa-share-alt"></i> Contact Us</a></li>
            </ul>
        </div>
        <hr>
        <div id="copyright">
            <p>© Developed By
                <a href="https://webarchsrm.com/" target="_blank">
                    <img src="/images/webarch_logo.png" alt="Webarch SRM Logo" id="webarchLogo"> Team Webarch
                </a> | 2020.
            </p>
        </div>
    </div>
</section>
    
    <script>
        AOS.init();
    </script>
    <!-- Optional JavaScript -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="/js/nav.js"></script>
    <script src="/js/<%= typeof page !== 'undefined' ? page : '' %>.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>