<section id="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <p class="text-center">
                    <a href="/home">
                        <img src="/images/ACR_Logo_TB.png" alt="AuoCreed Racing Logo" id="autocreedLogo">
                    </a>
                </p>
            </div>

            <div class="links">
                <h6>Explore</h6>
                <ul class="footer-links">
                    <li>
                        </i><a href="/"><i class="fas fa-home"></i> Home</a></li>
                    <li><a href="/team"><i class="fas fa-users"></i> Team</a></li>
                    <li><a href="/alumni"><i class="fas fa-user-graduate"></i> Alumni</a></li>
                    <li><a href="/gallery"><i class="fas fa-image"></i> Gallery</a></li>
                    <li><a href="/support"><i class="fas fa-store"></i> Support Us</a></li>
                    <li><a href="/contact"><i class="fas fa-share-alt"></i> Contact Us</a></li>
                </ul>
            </div>
        </div>
        <hr>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-6 col-xs-12">
                <p class="copyright-text">© Developed By
                    <a href="https://webarchsrm.com/" target="_blank">
                        <img src="/images/webarch_logo.png" alt="Webarch SRM Logo" id="webarchLogo"> Team Webarch
                    </a> | 2020.
                </p>
            </div>


            <div class="col-md-4 col-sm-6 col-xs-12">
                <ul class="social-icons">
                    <li>
                        <a class="facebook" href="https://www.facebook.com/autocreedracing/" target="_blank">
                            <i class="fab fa-facebook" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li>
                        <a class="linkedin" href="https://www.linkedin.com/company/autocreedracing/?originalSubdomain=in" target="_blank">
                            <i class="fab fa-linkedin"></i>
                        </a>
                    </li>
                    <li>
                        <a class="instagram" href="https://www.instagram.com/autocreedracingsrm/?hl=en" target="_blank">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<<<<<<< HEAD <script>
    AOS.init();
    </script>
    <!-- Optional JavaScript -->
    <script src="/js/nav.js"></script>
    <script src="/js/<%= page %>.js"></script>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    >>>>>>> 3ce3f29786224618d649d9c59ac1dabc5e2d12f7 =======

    <script>
        AOS.init();
    </script>
    <!-- Optional JavaScript -->
    <script src="/js/nav.js"></script>
    <script src="/js/<%= page %>.js"></script>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    >>>>>>> 2e34a771403a2a320d6ee7e35a93b8e2c9c3830f
    </body>

    </html>