<section id="News">
    <div class="col-14 align-items-stretch">
      <section id="newsheading">
        <div class="jumbotron">
          <p class="page-heading">News Updates</p>
        </div>
        <p style="font-size: 50;color: white;">Coming Soon</p>
        <br>
          </section>
        </div>
  </section>