<%- include("partials/header") %>

<section id="achievements-section">
    <img src="../images/finish.png" id="finish">
    <div class="container" id="achievements-header">
        <h1>ACHIEVEMENTS</h1>
    </div>
    <div class="achievements-body">
        <div class="text-center" id="achievement-image1">
            <img  class="achievements-status1" src="/images/trophy1.png" alt="">
            <div id="achievements-text">Winner of Acceleration EV Category</div>
            <div id="achievements-text">Winner of Autocross EV Category</div>
        </div>
        <div class="text-center" id="achievement-image2">
            <img class="achievements-status2" src="/images/trophy2.png" alt="">
            <div id="achievements-text">Overall Runner Up FKDC EV Category 2019</div>
            <div id="achievements-text">Runner up Skid-pad EV Category</div>
            <div id="achievements-text">Runner up Endurance EV Category</div>
        </div>
    </div>
    
    
    
</section>

<%- include("partials/footer") %>