<%- include("partials/header") %>

<section id="achievements-section">
    <div class="container" id="achievements-header">
        <h1>ACHIEVEMENTS</h1>
    </div>
    <div class="achievements-body">
        <div id="achievement-image1">
            <img  class="achievements-status1" src="/images/trophy1.png" alt="">
            <div id="achievements-text"> 1st Place at jksdkjdsjkddfgdfgd</div>
        </div>
        <div id="achievement-image2">
            <img class="achievements-status2" src="/images/trophy2.png" alt="">
            <div id="achievements-text">2nd Place at jksdkjdsjkd</div>
        </div>
        
        
    </div>
    
    
    
</section>

<%- include("partials/footer") %>