<%- include("partials/header") %>

<!-- About Section -->
<section id="about" class="about-section text-center">
    <div class="blurrer"></div>
    <div>
        <div class="outer-border">
           <div class="mid-border">
              <div class="inner-border" style="background-color: #3A3D3E;">
                <img class="corner-decoration corner-left-top" src="https://i.ibb.co/4mKvK3N/corner-decoration.jpg"></img>
                <img class="corner-decoration corner-right-top" src="https://i.ibb.co/4mKvK3N/corner-decoration.jpg"></img>
                <img class="corner-decoration corner-right-bottom" src="https://i.ibb.co/4mKvK3N/corner-decoration.jpg"></img>
                <img class="corner-decoration corner-left-bottom" src="https://i.ibb.co/4mKvK3N/corner-decoration.jpg"></img>
                <img class="vertical-decoration top" src="https://i.ibb.co/JRTK9z4/horizontally-centered-vertical-decoration.png"></img>
                <img class="vertical-decoration bottom" src="https://i.ibb.co/JRTK9z4/horizontally-centered-vertical-decoration.png"></img>
    
                <!-- Page Content -->
                <!-- About Section -->
                <div class="container" style="margin: 3% auto;">
                    <div class="row">
                        <div class="col-lg-8 mx-auto">
                            <p class="heading"><a class="blue">
                                    Meet our Alumni
                                </a></p>
                            <br>
                        </div>
                    </div>
                    <!-- Headshots -->
                    <div class="container-fluid">
                        <!-- Row 1 -->
                        <div class="row headshots">
                            <div class="col-12 col-lg-3">
                                <figure class="one">
                                    <img src='https://i.postimg.cc/tCfL09VW/femaleheadshot.jpg' class="headshotphoto" />
                                    <p class="text-white headshottext">Example Female</p>
                                    <p class="text-white headshotgrade"> <b>Position</b>: VP of Recruitment</p>
                                    <p class="text-white headshotgrade"> <b>Year</b>: Junior </p>
                                    <p class="text-white headshotgrade"> <b>Major</b>: Economics & Political Science</p>
                                </figure>
                            </div>
                            <div class=" col-12 col-lg-3">
                                <figure class="one">
                                    <img src='https://i.postimg.cc/CxCTbWz8/maleheadshot.jpg' class="headshotphoto" />
                                    <p class="text-white headshottext">Example Male</p>
                                    <p class="text-white headshotgrade"> <b>Position</b>: N/A</p>
                                    <p class="text-white headshotgrade"> <b>Year</b>: N/A </p>
                                    <p class="text-white headshotgrade"> <b>Major</b>: N/A</p>
                                </figure>
                            </div>
                            <div class="col-12 col-lg-3">
                                <figure class="one">
                                    <img src='https://i.postimg.cc/tCfL09VW/femaleheadshot.jpg' class="headshotphoto" />
                                    <p class="text-white headshottext">Example Female</p>
                                    <p class="text-white headshotgrade"> <b>Position</b>: N/A</p>
                                    <p class="text-white headshotgrade"> <b>Year</b>: N/A </p>
                                    <p class="text-white headshotgrade"> <b>Major</b>: N/A </p>
                                </figure>
                            </div>
                            <div class="col-12 col-lg-3">
                                <figure class="one">
                                    <img src='https://i.postimg.cc/CxCTbWz8/maleheadshot.jpg' class="headshotphoto" />
                                    <p class="text-white headshottext">Example Male</p>
                                    <p class="text-white headshotgrade"> <b>Position</b>: N/A</p>
                                    <p class="text-white headshotgrade"> <b>Year</b>: N/A </p>
                                    <p class="text-white headshotgrade"> <b>Major</b>: N/A </p>
                                </figure>
                            </div>
                        </div>
                        <!-- Row 2 -->
                        <div class="row">
                            <div class="col-12 col-lg-3">
                                <figure class="one">
                                    <img src='https://i.postimg.cc/tCfL09VW/femaleheadshot.jpg' alt="" />
                                    <p class="text-white headshottext">Example Female</p>
                                    <p class="text-white headshotgrade"> <b>Position</b>: N/A</p>
                                    <p class="text-white headshotgrade"> <b>Year</b>: N/A </p>
                                    <p class="text-white headshotgrade"> <b>Major</b>: N/A</p>
                                </figure>
                            </div>
                            <div class="col-12 col-lg-3">
                                <figure class="one">
                                    <img src='https://i.postimg.cc/CxCTbWz8/maleheadshot.jpg' alt="" />
                                    <p class="text-white headshottext">Example Male</p>
                                    <p class="text-white headshotgrade"> <b>Position</b>: N/A</p>
                                    <p class="text-white headshotgrade"> <b>Year</b>: N/A </p>
                                    <p class="text-white headshotgrade"> <b>Major</b>: N/A</p>
                                </figure>
                            </div>
                            <div class="col-12 col-lg-3">
                                <figure class="one">
                                    <img src='https://i.postimg.cc/tCfL09VW/femaleheadshot.jpg' alt="" />
                                    <p class="text-white headshottext">Example Female</p>
                                    <p class="text-white headshotgrade"> <b>Position</b>: N/A</p>
                                    <p class="text-white headshotgrade"> <b>Year</b>: N/A </p>
                                    <p class="text-white headshotgrade"> <b>Major</b>: N/A </p>
                                </figure>
                            </div>
                            <div class="col-12 col-lg-3">
                                <figure class="one">
                                    <img src='https://i.postimg.cc/CxCTbWz8/maleheadshot.jpg' alt="" />
                                    <p class="text-white headshottext">Example Male</p>
                                    <p class="text-white headshotgrade"> <b>Position</b>: N/A</p>
                                    <p class="text-white headshotgrade"> <b>Year</b>: N/A </p>
                                    <p class="text-white headshotgrade"> <b>Major</b>: N/A </p>
                                </figure>
                            </div>
                        </div>
                    </div> <br><br>
                </div>
                
              </div>
           </div>
        </div>
    </div>
    
</section>

<%- include("partials/footer") %>