<%- include("partials/header") %>

<!-- About Section -->
<section id="about" class="about-section text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <div class="sign">
                    <h1><span class="fast-flicker"></span><span class="flicker">Meet </span><span
                            class="fast-flicker"></span><span class="flicker">Our </span> <span
                            class="fast-flicker"></span><span class="flicker">Alumni </span>
                    </h1>
                </div>
                <br>
            </div>
        </div>
        <!-- Headshots -->
        <div class="container-fluid">
            <!-- Row 1 -->
            <div class="row headshots">
                <div class="col-12 col-lg-3">
                    <figure class="one">
                        <img src='https://i.postimg.cc/tCfL09VW/femaleheadshot.jpg' class="headshotphoto" />
                        <p class="text-white headshottext">Example Female</p>
                        <p class="text-white headshotgrade"> <b>Position</b>: VP of Recruitment</p>
                        <p class="text-white headshotgrade"> <b>Year</b>: Junior </p>
                        <p class="text-white headshotgrade"> <b>Major</b>: Economics & Political Science</p>
                    </figure>
                </div>
                <div class=" col-12 col-lg-3">
                    <figure class="one">
                        <img src='https://i.postimg.cc/CxCTbWz8/maleheadshot.jpg' class="headshotphoto" />
                        <p class="text-white headshottext">Example Male</p>
                        <p class="text-white headshotgrade"> <b>Position</b>: N/A</p>
                        <p class="text-white headshotgrade"> <b>Year</b>: N/A </p>
                        <p class="text-white headshotgrade"> <b>Major</b>: N/A</p>
                    </figure>
                </div>
                <div class="col-12 col-lg-3">
                    <figure class="one">
                        <img src='https://i.postimg.cc/tCfL09VW/femaleheadshot.jpg' class="headshotphoto" />
                        <p class="text-white headshottext">Example Female</p>
                        <p class="text-white headshotgrade"> <b>Position</b>: N/A</p>
                        <p class="text-white headshotgrade"> <b>Year</b>: N/A </p>
                        <p class="text-white headshotgrade"> <b>Major</b>: N/A </p>
                    </figure>
                </div>
                <div class="col-12 col-lg-3">
                    <figure class="one">
                        <img src='https://i.postimg.cc/CxCTbWz8/maleheadshot.jpg' class="headshotphoto" />
                        <p class="text-white headshottext">Example Male</p>
                        <p class="text-white headshotgrade"> <b>Position</b>: N/A</p>
                        <p class="text-white headshotgrade"> <b>Year</b>: N/A </p>
                        <p class="text-white headshotgrade"> <b>Major</b>: N/A </p>
                    </figure>
                </div>
            </div>
            <!-- Row 2 -->
            <div class="row">
                <div class="col-12 col-lg-3">
                    <figure class="one">
                        <img src='https://i.postimg.cc/tCfL09VW/femaleheadshot.jpg' alt="" />
                        <p class="text-white headshottext">Example Female</p>
                        <p class="text-white headshotgrade"> <b>Position</b>: N/A</p>
                        <p class="text-white headshotgrade"> <b>Year</b>: N/A </p>
                        <p class="text-white headshotgrade"> <b>Major</b>: N/A</p>
                    </figure>
                </div>
                <div class="col-12 col-lg-3">
                    <figure class="one">
                        <img src='https://i.postimg.cc/CxCTbWz8/maleheadshot.jpg' alt="" />
                        <p class="text-white headshottext">Example Male</p>
                        <p class="text-white headshotgrade"> <b>Position</b>: N/A</p>
                        <p class="text-white headshotgrade"> <b>Year</b>: N/A </p>
                        <p class="text-white headshotgrade"> <b>Major</b>: N/A</p>
                    </figure>
                </div>
                <div class="col-12 col-lg-3">
                    <figure class="one">
                        <img src='https://i.postimg.cc/tCfL09VW/femaleheadshot.jpg' alt="" />
                        <p class="text-white headshottext">Example Female</p>
                        <p class="text-white headshotgrade"> <b>Position</b>: N/A</p>
                        <p class="text-white headshotgrade"> <b>Year</b>: N/A </p>
                        <p class="text-white headshotgrade"> <b>Major</b>: N/A </p>
                    </figure>
                </div>
                <div class="col-12 col-lg-3">
                    <figure class="one">
                        <img src='https://i.postimg.cc/CxCTbWz8/maleheadshot.jpg' alt="" />
                        <p class="text-white headshottext">Example Male</p>
                        <p class="text-white headshotgrade"> <b>Position</b>: N/A</p>
                        <p class="text-white headshotgrade"> <b>Year</b>: N/A </p>
                        <p class="text-white headshotgrade"> <b>Major</b>: N/A </p>
                    </figure>
                </div>
            </div>
        </div> <br><br>
    </div>
    <!-- Container div -->

</section>

<%- include("partials/footer") %>