<%- include("partials/header") %>

<!-- About Section -->
<section id="about" class="about-section text-center">
    <div class="blurrer"></div>
    <div>
        <div class="outer-border">
           <div class="mid-border">
              <div class="inner-border" style="background-color: #3A3D3E;">
                <img class="corner-decoration corner-left-top" src="https://i.ibb.co/4mKvK3N/corner-decoration.jpg"></img>
                <img class="corner-decoration corner-right-top" src="https://i.ibb.co/4mKvK3N/corner-decoration.jpg"></img>
                <img class="corner-decoration corner-right-bottom" src="https://i.ibb.co/4mKvK3N/corner-decoration.jpg"></img>
                <img class="corner-decoration corner-left-bottom" src="https://i.ibb.co/4mKvK3N/corner-decoration.jpg"></img>
                <img class="vertical-decoration top" src="https://i.ibb.co/JRTK9z4/horizontally-centered-vertical-decoration.png"></img>
                <img class="vertical-decoration bottom" src="https://i.ibb.co/JRTK9z4/horizontally-centered-vertical-decoration.png"></img>
    
                <!-- Page Content -->
                <!-- About Section -->
                <div class="container" style="margin: 3% auto;">
                    <h1 class="heading">ALUMNI</h1>
                    <!-- Headshots -->
                    <div class="container-fluid">
                        <!-- Row 1 -->
                        <div class="row headshots">
                            <div class="col-12 col-lg-3">
                                <figure class="one">
                                    <img src='/images/Alumni/Akshay.jpg' class="headshotphoto" />
                                    <p class="text-white headshottext">Akshay Sharma</p>
                                    <p class="text-white headshotgrade">Graduated as (Domain) -</p>
                                    <p class="text-white headshotgrade">Team Captain/Electrical</p>
                                    <p class="text-white headshotgrade">Term - 2016 to 2020</p>
                                </figure>
                            </div>
                            <div class=" col-12 col-lg-3">
                                <figure class="one">
                                    <img src='/images/Alumni/Hashim.jpg' class="headshotphoto" />
                                    <p class="text-white headshottext">Hashim Abdul Hassan</p>
                                    <p class="text-white headshotgrade">Graduated as (Domain) -</p>
                                    <p class="text-white headshotgrade">Design Head/Mechanical</p>
                                    <p class="text-white headshotgrade">Term - 2017 to 2020</p>
                                </figure>
                            </div>
                            <div class="col-12 col-lg-3">
                                <figure class="one">
                                    <img src='/images/Alumni/Ashwin.jpg' class="headshotphoto" />
                                    <p class="text-white headshottext">Ashwin Vijay</p>
                                    <p class="text-white headshotgrade">Graduated as (Domain) -</p>
                                    <p class="text-white headshotgrade">Mechanical Head/Brakes</p>
                                    <p class="text-white headshotgrade">Term - 2017 to 2020</p>
                                </figure>
                            </div>
                            <div class="col-12 col-lg-3">
                                <figure class="one">
                                    <img src='/images/Alumni/Gaurav.jpg' class="headshotphoto" />
                                    <p class="text-white headshottext">Gaurav Bhurat</p>
                                    <p class="text-white headshotgrade">Graduated as (Domain) -</p>
                                    <p class="text-white headshotgrade">Corporate Head</p>
                                    <p class="text-white headshotgrade">Term - 2018 to 2020</p>
                                </figure>
                            </div>
                        </div>
                        <!-- Row 2 -->
                        <div class="row">
                            <div class="col-12 col-lg-3">
                                <figure class="one">
                                    <img src='/images/Alumni/vishwajeet.jpg' alt="" />
                                    <p class="text-white headshottext">Vishwajeet Kumar</p>
                                    <p class="text-white headshotgrade">Graduated as (Domain) -</p>
                                    <p class="text-white headshotgrade">Electrical Head</p>
                                    <p class="text-white headshotgrade">Term - 2018 to 2020</p>
                                </figure>
                            </div>
                            <div class="col-12 col-lg-3">
                                <figure class="one">
                                    <img src='/images/Alumni/Dev.jpg' alt="" />
                                    <p class="text-white headshottext">DevendraDuppala</p>
                                    <p class="text-white headshotgrade">Graduated as (Domain) -</p>
                                    <p class="text-white headshotgrade">Fabrication Head/Chasis</p>
                                    <p class="text-white headshotgrade">Term - 2018 to 2020</p>
                                </figure>
                            </div>
                            <div class="col-12 col-lg-3">
                                <figure class="one">
                                    <img src='/images/Alumni/Swapnil.jpg' alt="" />
                                    <p class="text-white headshottext">Swapnil Kumar</p>
                                    <p class="text-white headshotgrade">Graduated as (Domain) -</p>
                                    <p class="text-white headshotgrade">Fabrication/Mechanical</p>
                                    <p class="text-white headshotgrade">Term - 2018 to 2020</p>
                                </figure>
                            </div>
                            <div class="col-12 col-lg-3">
                                <figure class="one">
                                    <img src='/images/Alumni/Pranshu.jpeg' alt="" />
                                    <p class="text-white headshottext">Pranshu Prakash Tiwari</p>
                                    <p class="text-white headshotgrade">Graduated as (Domain) -</p>
                                    <p class="text-white headshotgrade">Corporate</p>
                                    <p class="text-white headshotgrade">Term - 2019 to 2020</p>
                                </figure>
                            </div>
                        </div>
                    </div> <br><br>
                </div>
                
              </div>
           </div>
        </div>
    </div>
    
</section>

<%- include("partials/footer") %>