


<!DOCTYPE html>
<html lang="en">
    
<head>
  <meta charset="UTF-8">
  <title>contactpage</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<!-- FontAwesome -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <!-- <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css'> -->
  <link rel="stylesheet" href="/css/contact.css">
  <link href="//db.onlinewebfonts.com/c/111775e1c5848e1d609ab1dbe2b4a0ec?family=Rai+Text+1983+Lowercase" rel="stylesheet" type="text/css"/>
</head>


	<!-- navbar -->
    <%- include("partials/header") %>
    <body>
	<div class="container">
		<div class="innerwrap">
		
			<section class="section1 clearfix">
				<div class="textcenter">
					<h1>Contact Us</h1>
				</div>
			</section>
		
			<section class="section2 clearfix">
				<div class="col2 column1 first">
					<script src='https://maps.googleapis.com/maps/api/js?v=3.exp'></script><div class="sec2map" style='overflow:hidden;height:450px;width:100%;'><div id='gmap_canvas' style='height:100%;width:100%;'></div><div><small><a href="http://embedgooglemaps.com">									embed google maps							</a></small></div><div><small><a href="http://freedirectorysubmissionsites.com/">free web directories</a></small></div><style>#gmap_canvas img{max-width:none!important;background:none!important}</style></div><script type='text/javascript'>function init_map(){var myOptions = {zoom:14,center:new google.maps.LatLng(19.075314480255834,72.88153973865361),mapTypeId: google.maps.MapTypeId.ROADMAP};map = new google.maps.Map(document.getElementById('gmap_canvas'), myOptions);marker = new google.maps.Marker({map: map,position: new google.maps.LatLng(19.075314480255834,72.88153973865361)});infowindow = new google.maps.InfoWindow({content:'<strong>My Location</strong><br>mumbai<br>'});google.maps.event.addListener(marker, 'click', function(){infowindow.open(map,marker);});infowindow.open(map,marker);}google.maps.event.addDomListener(window, 'load', init_map);</script>
				</div>
				
				<div class="col2 column2 last">
					<div class="sec2innercont">
						<div class="sec2addr">
							<p><span class="collig">
								Address:
								</span>
								Student Activity Room, Staff Quarters, Mahatma Gandhi Rd,
								
								SRM Institute of Science and Technology, Potheri, SRM Nagar, Kattankulathur, Tamil Nadu 603203</p>
							<p><span class="collig">Phone (Team Captain):</span> +91 976885083</p>
							<p><span class="collig">Phone (Corporate):</span>  +91 976885083</p>
							
						</div>
					</div>
					<div class="sec2contactform">
						<h3 class="sec2frmtitle">Want to Know More?? Drop Us a Mail</h3>
						<form action="">
							<div class="clearfix">
								<input class="col2 first" type="text" placeholder="FirstName">
								<input class="col2 last" type="text" placeholder="LastName">
							</div>
							<div class="clearfix">
								<input  class="col2 first" type="Email" placeholder="Email">
								<input class="col2 last" type="text" placeholder="Contact Number">
							</div>
							<div class="clearfix">
								<textarea name="textarea" id="" cols="30" rows="7">Your message here...</textarea>
							</div>
							<div class="clearfix"><input type="submit" value="Send"></div>
						</form>
					</div>

				</div>
			</section>
		
		</div>
		<div class="div2">
			Become Our Sponsors
			<div class="dropdown-divider"></div>
		</div>
			<p>
				<span class="collig">Email :</span> autocreedsrm@gmail.com </br><br>
				

				Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloremque quas quisquam, magni itaque sit placeat excepturi eos perferendis explicabo inventore praesentium ipsum sed repudiandae qui odit numquam nobis. Amet, nesciunt.
				Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolor, ipsum aliquam ducimus, veniam repellat praesentium dignissimos molestias dolorum aliquid neque facilis excepturi iusto, voluptas mollitia debitis! Cumque cupiditate illum doloribus.
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur illum suscipit accusamus ipsa tenetur possimus fugiat, tempora nam veniam ducimus, maxime magnam saepe vitae delectus quam repudiandae magni officiis enim.
				</p>
		<section>
			<ul class="social-media-list">
				<li><a href="https://www.linkedin.com/company/autocreedracing/?originalSubdomain=in" target="_blank" class="contact-icon">
					<i class="fa fa-linkedin" aria-hidden="true"></i></a>
				</li>
				<li><a href="https://www.instagram.com/autocreedracingsrm/?hl=en" target="_blank" class="contact-icon">
					<i class="fa fa-instagram" aria-hidden="true"></i></a>
				</li>
				<li><a href="https://www.facebook.com/autocreedracing/" target="_blank" class="contact-icon">
					<i class="fa fa-facebook" aria-hidden="true"></i></a>
				</li>
			  </ul>
		</section>
	</div>

    <%- include("partials/footer") %>
</body>
</html>

