<%- include("partials/header") %>

<section id="contactpage">
	<div class="container i">
		<div class="innerwrap">

			<h1 class="heading">CONTACT US</h1>

			<section class="section2 clearfix">
				<div class="col2 column1 first">
					<div class="sec2map" style='overflow:hidden;height:500px;width:100%;margin-top: 50px;'>
						<iframe
							src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7780.630377901172!2d80.03951912232262!3d12.822897825110992!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a52f772cbd30c77%3A0xbecac5ff9932a51d!2sAutoCreed%20Racing!5e0!3m2!1sen!2sin!4v1602229781764!5m2!1sen!2sin"
							width="100%" height="100%" frameborder="0" style="border:0;" allowfullscreen=""
							aria-hidden="false" tabindex="0"></iframe>
					</div>
				</div>
				<div class="col2 column2 last">
					<div class="sec2innercont">
						<div class="sec2addr">
							<h1>Address</h1>
							<p class="contactp">Student Activity Room, Staff Quarters, Mahatma Gandhi Rd,

								SRM Institute of Science and Technology , Potheri , SRM Nagar , Kattankulathur ,
								Tamil
								Nadu
								603203</p>
							<p class="contactp"><span class="collig">Phone (Team Captain):</span> +91 8892787900</p>
							<p class="contactp"><span class="collig">Phone (Corporate):</span> +91 8920144121</p>

						</div>
					</div>


				</div>
				<div class="col2 column2 last">
					<div class="sec2innercont">
						<div class="sec2addr">
							<h1>Find us online</h1>
							<p class="contactp"><span class="collig">Email :</span> autocreedsrm@gmail.com</p>
						</div>
					</div>

					<div class="rounded-social-buttons">
						<a class="social-button facebook" href="https://www.facebook.com/autocreedracing"
							target="_blank"><i class="fab fa-facebook-f"></i></a>

						<a class="social-button linkedin" href="https://www.linkedin.com/company/autocreedracing"
							target="_blank"><i class="fab fa-linkedin"></i></a>

						<a class="social-button instagram" href="https://www.instagram.com/acr_srm/" target="_blank"><i
								class="fab fa-instagram"></i></a>
					</div>
				</div>
				<div>
					
				</div>
			</section>
			<div>
				<div>
					<h1>Become Our Sponsors</h1>
					<p class="contactp">Autocreed Racing is an established leader in the collegiate-level
						electric motorsports racing
						both on and off the track. We have become a successful race team by focusing on
						accountability, results and
						innovation</p>
					<p class="contactp">Our mission is clear:
						To excel in engineering a single-seater high performance efficient electric go-kart to
						compete & win at different National level student competitions. We focus on go-kart
						development as they have historically constituted the testing arena for many premier
						automakers around the globe. The scope for this market is immense and as a team we add
						value not only to the market but to the members by exploring various potential
						innovations with a minimal budget.
					</p>
					<p class="contactp"> We are committed to cultivating and maintaining mutually beneficial and
						long-term partnerships with world-class sponsors; providing them with a valuable return
						on their investment.
					</p>
					<a href="/achievements" class="contactp">Click here to see our past wins! </a>
				</div>
			</div>
		</div>
	</div>
</section>

<%- include("partials/footer") %>