<%- include("partials/header") %>

<section id="contactpage">
	<div class="container i">
		<div class="innerwrap">

			<h1 class="heading">CONTACT US</h1>

			<section class="section2 clearfix">
				<div class="col2 column1 first">
					<div>
						<h1>Become Our Sponsors</h1>
						<p class="contactp">Autocreed Racing is an established leader in the collegiate-level
							electric motorsports racing
							both on and off the track. We have become a successful race team by focusing on
							accountability, results and
							innovation</p>
						<p class="contactp">Our mission is clear:
							To excel in engineering a single-seater high performance efficient electric go-kart to
							compete & win at different National level student competitions. We focus on go-kart
							development as they have historically constituted the testing arena for many premier
							automakers around the globe. The scope for this market is immense and as a team we add
							value not only to the market but to the members by exploring various potential
							innovations with a minimal budget.
						</p>
						<p class="contactp"> We are committed to cultivating and maintaining mutually beneficial and
							long-term partnerships with world-class sponsors; providing them with a valuable return
							on their investment.
						</p>
						<a href="/achievements" class="contactp" style="color: cyan;">Click here to see our past wins! </a>
					</div>
				</div>
				<div class="col2 column2 last">
					<div class="sec2innercont">
						<div class="sec2addr">
							<h1>Address</h1>
							<a href="/achievements" class="contactp">Student Activity Room, Staff Quarters, Mahatma Gandhi Rd,

								SRM Institute of Science and Technology , Potheri , SRM Nagar , Kattankulathur ,
								Tamil
								Nadu
								603203</a>
							<p class="contactp"><span class="collig">Phone (Team Captain):</span>Sai Prasadh: +91 8892787900</p>
							<p class="contactp"><span class="collig">Phone (Team Manager):</span>Aditi Gupta: +91 8920144121</p>

						</div>
					</div>


				</div>
				<div class="col2 column2 last">
					<div class="sec2innercont">
						<div class="sec2addr">
							<h1>Find us online</h1>
							<p class="contactp"><span class="collig">Email :</span> autocreedsrm@gmail.com</p>
						</div>
					</div>

					<div class="rounded-social-buttons">
						<a class="social-button linkedin" href="https://www.linkedin.com/company/autocreedracing"
							target="_blank"><i class="fab fa-linkedin"></i></a>

						<a class="social-button instagram" href="https://www.instagram.com/acr_srm/" target="_blank"><i
								class="fab fa-instagram"></i></a>

						<a class="social-button facebook" href="https://www.facebook.com/autocreedracing"
							target="_blank"><i class="fab fa-facebook-f"></i></a>
					</div>
				</div>
				<div>

				</div>
			</section>
		</div>
	</div>
</section>

<%- include("partials/footer") %>