<%- include("partials/header") %>

<div class="container">
    <h1 class="g-heading">Gallery</h1>
    <div class="gallery">
        <% instafeed.forEach((data) => { %>
        <li><img href="" src="<%= data.url %>" alt=""></li>
        <% }); %>
    </div>
</div>



<%- include("partials/footer") %>