<%- include("partials/header") %>
<section id="carousel">
  <div id="carouselExampleIndicators" class="carousel slide carousel-fade" data-ride="carousel" data-interval="5000">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active" style="background-image: url('/images/carousel/carousel1.png')">
         
        </div>
        <div class="carousel-item" style="background-image: url('/images/carousel/carousel2.png')">
          
        </div>
        <div class="carousel-item" style="background-image: url('/images/carousel/carousel3.png')">
          
        </div>
        <div class="carousel-item" style="background-image: url('/images/carousel/carousel4.png')">
          
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>

</section>
<!-- ============================================================================================================= -->

<section id="News">
  <div class="col-14 align-items-stretch">
    <section id="newsheading">
      <div class="jumbotron">
        <p class="page-heading">News Updates</p>
      </div>
      <div class="container my-4">

    
        <!--Carousel Wrapper-->
        <div id="newsCarousel" class="carousel slide carousel-multi-item" data-ride="carousel">
          <!--Indicators-->
          <ol class="carousel-indicators">
            <li data-target="#newsCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#newsCarousel" data-slide-to="1"></li>
            <li data-target="#newsCarousel" data-slide-to="2"></li>
          </ol>
          <!--/.Indicators-->
    
          <!--Slides-->
          <div class="carousel-inner" role="listbox">
    
            <!--First slide-->
            <div class="carousel-item active">
    
              <div class="row">
                <div class="col-md-4">
                  <div class="card mb-2">
                    <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(34).jpg"
                      alt="Card image cap">
                    <div class="card-body">
                      <h4 class="card-title">Card title</h4>
                      <a href="">
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                          card's content.</p>
                      </a>
                    </div>
                  </div>
                </div>
    
                <div class="col-md-4 clearfix d-none d-md-block">
                  <div class="card mb-2">
                    <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(18).jpg"
                      alt="Card image cap">
                    <div class="card-body">
                      <h4 class="card-title">Card title</h4>
                      <a href="">
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                          card's content.</p>
                      </a>
                    </div>
                  </div>
                </div>
    
                <div class="col-md-4 clearfix d-none d-md-block">
                  <div class="card mb-2">
                    <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(35).jpg"
                      alt="Card image cap">
                    <div class="card-body">
                      <h4 class="card-title">Card title</h4>
                      <a href="">
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                          card's content.</p>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
    
            </div>
            <!--/.First slide-->
    
            <!--Second slide-->
            <div class="carousel-item">
    
              <div class="row">
                <div class="col-md-4">
                  <div class="card mb-2">
                    <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(60).jpg"
                      alt="Card image cap">
                    <div class="card-body">
                      <h4 class="card-title">Card title</h4>
                      <a href="">
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                          card's content.</p>
                      </a>
                    </div>
                  </div>
                </div>
    
                <div class="col-md-4 clearfix d-none d-md-block">
                  <div class="card mb-2">
                    <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(47).jpg"
                      alt="Card image cap">
                    <div class="card-body">
                      <h4 class="card-title">Card title</h4>
                      <a href="">
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                          card's content.</p>
                      </a>
                    </div>
                  </div>
                </div>
    
                <div class="col-md-4 clearfix d-none d-md-block">
                  <div class="card mb-2">
                    <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(48).jpg"
                      alt="Card image cap">
                    <div class="card-body">
                      <h4 class="card-title">Card title</h4>
                      <a href="">
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                          card's content.</p>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
    
            </div>
            <!--/.Second slide-->
    
            <!--Third slide-->
            <div class="carousel-item">
    
              <div class="row">
                <div class="col-md-4">
                  <div class="card mb-2">
                    <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Food/4-col/img%20(53).jpg"
                      alt="Card image cap">
                    <div class="card-body">
                      <h4 class="card-title">Card title</h4>
                      <a href="">
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                          card's content.</p>
                      </a>
                    </div>
                  </div>
                </div>
    
                <div class="col-md-4 clearfix d-none d-md-block">
                  <div class="card mb-2">
                    <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Food/4-col/img%20(45).jpg"
                      alt="Card image cap">
                    <div class="card-body">
                      <h4 class="card-title">Card title</h4>
                      <a href="">
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                          card's content.</p>
                      </a>
                    </div>
                  </div>
                </div>
    
                <div class="col-md-4 clearfix d-none d-md-block">
                  <div class="card mb-2">
                    <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Food/4-col/img%20(51).jpg"
                      alt="Card image cap">
                    <div class="card-body">
                      <h4 class="card-title">Card title</h4>
                      <a href="">
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                          card's content.</p>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
    
            </div>
            <!--/.Third slide-->
        
          </div>
          <!--/.Slides-->
         
        </div>
        <!--/.Carousel Wrapper-->
    
    
      </div>       
        </section>
      </div>
</section>
<!-- =========================================================================================================== -->

<section id="About">
  <div class="row my-2">
    <div class="section-head col-2 align-items-stretch">
      <div style="height: 100%;" class="section-title d-flex flex-row justify-content-center align-items-center">
        <h1>Vision</h1>
      </div>
    </div>
    <div class="col-10" style="background: rgba(0, 0, 0, 0.2);">
      <section id="mission">
        <div class="jumbotron">
          <p class="page-heading"><a class="blue">A Team Above All &amp; Above All A Team</a></p>
          <div class="sub d-flex flex-row justify-content-center">
            <p class="lead">We build today & tomorrow’s engineers for a sustainable society.</p>
          </div>
          <hr class="my-4">
          <div class="row">
            <div class="col-12 col-md-8">
              <div class="brief container">
                <p> AutoCreed Racing is a motorsports racing team that engineers a league of designing & fabricating electric go-karts at the national level. We are a passionate group of individuals that pride ourselves on being an inclusive group emphasizing education and knowledge transfer as well as performance.</p>
              </div>
            </div>
            <div class="col-12 col-md-4">
              <a class="btn btn-lg more d-flex" href="/gallery"><i class="fas fa-angle-double-right m-auto"></i></a>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</section>
<!-- ================================================================================================================================ -->

<section id="key-events">
  <div class="row my-2">
    <div class="section-head col-2 align-items-stretch order-2">
      <div style="height: 100%;" class="section-title d-flex flex-row justify-content-center align-items-center">
        <h1>Timeline</h1>
      </div>
    </div>
    <div class="col-10 " style="background: rgba(0, 0, 0, 0.2);">
      <div class="container ">
        <section class="cd-horizontal-timeline d-flex flex-wrap align-items-center" id="timeline">
          <div class="timeline">
              <div class="events-wrapper">
                  <div class="events">
                      <ol>
                          <li><a href="#0" data-date="16/01/2014" class="selected">16 Jan</a></li>
                          <li><a href="#0" data-date="28/02/2014">28 Feb</a></li>
                          <li><a href="#0" data-date="20/04/2014">20 Mar</a></li>
                          <li><a href="#0" data-date="20/05/2014">20 May</a></li>
                          <li><a href="#0" data-date="09/07/2014">09 Jul</a></li>
                          <li><a href="#0" data-date="30/08/2014">30 Aug</a></li>
                      </ol>
        
                      <span class="filling-line" aria-hidden="true"></span>
                  </div> <!-- .events -->
              </div> <!-- .events-wrapper -->
                  
              <ul class="cd-timeline-navigation d-lg-none">
                  <li><a href="#0" class="prev inactive">Prev</a></li>
                  <li><a href="#0" class="next">Next</a></li>
              </ul> <!-- .cd-timeline-navigation -->
          </div> <!-- .timeline -->
        
          <div class="events-content ">
              <ol>
                  <li class="selected" data-date="16/01/2014">               
                    <p class="box">	                 
                       <em>January 16th, 2014</em>                
                          Lorem ipsum dolor sit amet,
                           consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci?               
                    </p>                
                  </li>  
                  <li data-date="28/02/2014">
                      <p class="box">	
                      <em>February 28th, 2014</em>                
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci?
                      </p>
                  </li>  
                  <li data-date="20/04/2014">
                     <p class="box">
                      <em>March 20th, 2014</em>                  
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci?
                      </p>
                  </li>  
                  <li data-date="20/05/2014">
                      <p class="box">	
                      <em>May 20th, 2014</em>               
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci?
                      </p>
                  </li>  
                  <li data-date="09/07/2014">
                     <p class="box">
                      <em>July 9th, 2014</em>                  
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci?
                      </p>
                  </li>  
                  <li data-date="30/08/2014">
                      <p class="box">	
                      <em>August 30th, 2014</em>                
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci?
                      </p>
                  </li>            
              </ol>
          </div> <!-- .events-content -->
      </section>
      </div>
    </div>
  </div>
</section>
<!-- =========================================================================================================== -->

<section id="Achievements">
  <div class="row my-2">
    <div class="section-head col-2 align-items-stretch">
      <div style="height: 100%;" class="section-title d-flex flex-row justify-content-center align-items-center">
        <h1>Achievements</h1>
      </div>
    </div>
    <div class="col-10" style="background: rgba(0, 0, 0, 0.2);">
      <section id="achievements">
        <div class="container achievements-container">
            <div id="corner-ribbon">
                <div>
                  <ul style="list-style:none">
                      <li  class="aos-init aos-animate" data-aos="fade-up"style="padding-top:50px"> Lorem ipsum, dolor sit amet consectetur adipisicing elit. </li>
                      <li class="aos-init aos-animate" data-aos="fade-up"> Lorem ipsum, dolor sit amet consectetur adipisicing elit. </li>
                      <li class="aos-init aos-animate" data-aos="fade-up"> Lorem ipsum, dolor sit amet consectetur adipisicing elit. </li>
                      <li class="aos-init aos-animate" data-aos="fade-up"> Lorem ipsum, dolor sit amet consectetur adipisicing elit. </li>
                      <li class="aos-init aos-animate" data-aos="fade-up"> Lorem ipsum, dolor sit amet consectetur adipisicing elit. </li>
                  </ul>
                      <div>
                          <div></div>
                      </div>
              </div>
          </div>
      </section>
      <!--ACHIEVEMENTS SECTION ENDS ---------------------------------------->
    </div>
  </div>
</section>

<%- include("partials/footer") %>