<%- include("partials/header") %>
<section id="carousel">
  <div id="carouselExampleIndicators" class="carousel slide carousel-fade" data-ride="carousel" data-interval="5000">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active" style="background-image: url('/images/carousel/carousel1.png')">
         
        </div>
        <div class="carousel-item" style="background-image: url('/images/carousel/carousel2.png')">
          
        </div>
        <div class="carousel-item" style="background-image: url('/images/carousel/carousel3.png')">
          
        </div>
        <div class="carousel-item" style="background-image: url('/images/carousel/carousel4.png')">
          
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>

</section>
<!-- ============================================================================================================= -->

<section id="News">
  <div class="col-14 align-items-stretch">
    <section id="newsheading">
      <div class="jumbotron">
        <p class="page-heading">News Updates</p>
      </div>

    
        <!--Carousel Wrapper-->
        <div id="newsCarousel" class="carousel slide carousel-multi-item" data-ride="carousel">
          <!--Indicators-->
          <ol class="carousel-indicators">
            <li data-target="#newsCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#newsCarousel" data-slide-to="1"></li>
            <li data-target="#newsCarousel" data-slide-to="2"></li>
          </ol>
          <!--/.Indicators-->
         
          <!--Slides-->
          <div class="container my-4">
          <div class="carousel-inner" role="listbox">
    
            <!--First slide-->
            <div class="carousel-item active">
    
              <div class="row">
                <div class="col-md-4">
                  <div class="card mb-2">
                    <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(34).jpg"
                      alt="Card image cap">
                    <div class="card-body">
                      <h4 class="card-title">Card title</h4>
                      <a>
                        <p class="card-text align-items-stretch">Some quick example text to build on the card title and make up the bulk of the
                          card's content.</p>
                      </a>
                    </div>
                  </div>
                </div>
    
                <div class="col-md-4 clearfix d-none d-md-block">
                  <div class="card mb-2">
                    <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(18).jpg"
                      alt="Card image cap">
                    <div class="card-body">
                      <h4 class="card-title">Card title</h4>
                      <a>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                          card's content.</p>
                      </a>
                    </div>
                  </div>
                </div>
    
                <div class="col-md-4 clearfix d-none d-md-block">
                  <div class="card mb-2">
                    <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(35).jpg"
                      alt="Card image cap">
                    <div class="card-body">
                      <h4 class="card-title">Card title</h4>
                      <a>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                          card's content.</p>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
    
            </div>
            <!--/.First slide-->
    
            <!--Second slide-->
            <div class="carousel-item">
    
              <div class="row">
                <div class="col-md-4">
                  <div class="card mb-2">
                    <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(60).jpg"
                      alt="Card image cap">
                    <div class="card-body">
                      <h4 class="card-title">Card title</h4>
                      <a>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                          card's content.</p>
                      </a>
                    </div>
                  </div>
                </div>
    
                <div class="col-md-4 clearfix d-none d-md-block">
                  <div class="card mb-2">
                    <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(47).jpg"
                      alt="Card image cap">
                    <div class="card-body">
                      <h4 class="card-title">Card title</h4>
                      <a>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                          card's content.</p>
                      </a>
                    </div>
                  </div>
                </div>
    
                <div class="col-md-4 clearfix d-none d-md-block">
                  <div class="card mb-2">
                    <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(48).jpg"
                      alt="Card image cap">
                    <div class="card-body">
                      <h4 class="card-title">Card title</h4>
                      <a>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                          card's content.</p>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
    
            </div>
            <!--/.Second slide-->
    
            <!--Third slide-->
            <div class="carousel-item">
    
              <div class="row">
                <div class="col-md-4">
                  <div class="card mb-2">
                    <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Food/4-col/img%20(53).jpg"
                      alt="Card image cap">
                    <div class="card-body">
                      <h4 class="card-title">Card title</h4>
                      <a>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                          card's content.</p>
                      </a>
                    </div>
                  </div>
                </div>
    
                <div class="col-md-4 clearfix d-none d-md-block">
                  <div class="card mb-2">
                    <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Food/4-col/img%20(45).jpg"
                      alt="Card image cap">
                    <div class="card-body">
                      <h4 class="card-title">Card title</h4>
                      <a>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                          card's content.</p>
                      </a>
                    </div>
                  </div>
                </div>
    
                <div class="col-md-4 clearfix d-none d-md-block">
                  <div class="card mb-2">
                    <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Food/4-col/img%20(51).jpg"
                      alt="Card image cap">
                    <div class="card-body">
                      <h4 class="card-title">Card title</h4>
                      <a>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                          card's content.</p>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
    
            </div>
            <!--/.Third slide-->
        
          </div>
          <!--/.Slides-->
            <a class="carousel-control-prev" href="#newsCarousel" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#newsCarousel" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>

          
        </div>
        <!--/.Carousel Wrapper-->
    
          
         
        </section>
      
      </div>
</section>
<!-- =========================================================================================================== -->

<%- include("partials/footer") %>