<%- include("partials/header") %>











<!-- SPONSORS SECTION -->
<section id="sponsors">
    <div class="container">
        <h3>SPONSORS</h3>
        <div id="demo" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="sponsors-caption">
                        <p>If Shai Reznik's TDD videos don't convince you to add automated testing your code, I
                            don't
                            know what will.This was the very best explanation of frameworks for brginners that I've
                            ever
                            seen. </p> <img src="./images/sponsor/sponsor1.png">

                    </div>
                </div>
                <div class="carousel-item">
                    <div class="sponsors-caption">
                        <p>If Shai Reznik's TDD videos don't convince you to add automated testing your code, I
                            don't
                            know what will.This was the very best explanation of frameworks for brginners that I've
                            ever
                            seen.</p> <img src="./images/sponsor/sponsor2.png" class="img-fluid">

                    </div>
                </div>
                <div class="carousel-item">
                    <div class="sponsors-caption">
                        <p>If Shai Reznik's TDD videos don't convince you to add automated testing your code, I
                            don't
                            know what will.This was the very best explanation of frameworks for brginners that I've
                            ever
                            seen.</p> <img src="./images/sponsor/sponsor3.png" class="img-fluid">

                    </div>
                </div>
                <div class="carousel-item">
                    <div class="sponsors-caption">
                        <p>If Shai Reznik's TDD videos don't convince you to add automated testing your code, I
                            don't
                            know what will.This was the very best explanation of frameworks for brginners that I've
                            ever
                            seen.</p> <img src="./images/sponsor/sponsor4.png" class="img-fluid">

                    </div>
                </div>
                <div class="carousel-item">
                    <div class="sponsors-caption">
                        <p>If Shai Reznik's TDD videos don't convince you to add automated testing your code, I
                            don't
                            know what will.This was the very best explanation of frameworks for brginners that I've
                            ever
                            seen.</p> <img src="./images/sponsor/sponsor5.png" class="img-fluid">

                    </div>
                </div>
            </div> <a class="carousel-control-prev" href="#demo" data-slide="prev"> <i
                    class='fas fa-arrow-left button'></i>
            </a> <a class="carousel-control-next" href="#demo" data-slide="next"> <i
                    class='fas fa-arrow-right button'></i>
            </a>
        </div>
    </div>
</section>
<!-- SPONSORS SECTION ENDS HERE -->











<%- include("partials/footer") %>