<%- include("partials/header") %>

<section id="mission">
    <div class="jumbotron">
        <h1 id="mission_title" class="display-4">A Team Above All &amp; Above All A Team</h1>
        <p class="lead"><em>AutoCreed Racing</em> is a motorsport racing team which envisions to bring a clean version of go-kart racing to the competitive college racing scene.</p>
        <hr class="my-4">
        <p> Forging brights minds together in a group. Celebrating the success and Enduring the hardships. Integrating strong, innovative engineering practices into manufacturing. <br> We Team AutoCreed are determined in continuing our winning spree and augmenting ourselves into a multifaceted world of motorsport racing.</p>
        <a class="btn btn-light btn-lg" href="/contact" role="button">Learn more</a>
      </div>
</section>
<%- include("partials/footer") %>