<%- include("partials/header") %>
<h1>Home Page</h1>
<section id="achievements" class="container" >
        <a class="container" id="achievements-container" >
            
            <div class="achievements-header">
                <h1>ACHIEVEMENTS</h1>
            </div>
           <div class="achievements-body" >
            
                <div class="row ">
                    <div class="col-12 aos-init aos-animate" data-aos="fade-up" >Lorem ipsum, dolor sit amet consectetur adipisicing elit. </div>

                </div> 
                <div class="row" >
                    <div class="col-12 aos-init aos-animate" data-aos="fade-up" >Lorem ipsum, dolor sit amet consectetur adipisicing elit. </div>

                </div>
                <div class="row">
                    <div class="col-12 aos-init aos-animate" data-aos="fade-up"  >Lorem ipsum, dolor sit amet consectetur adipisicing elit. </div>

                </div>
                <div class="row">
                    <div class="col-12 aos-init aos-animate" data-aos="fade-up"  >Lorem ipsum, dolor sit amet consectetur adipisicing elit. </div>

                </div>
                <div class="row">
                    <div class="col-12 aos-init aos-animate" data-aos="fade-up"  >Lorem ipsum, dolor sit amet consectetur adipisicing elit. </div>

                </div>
           </div>
           <div class="go-corner" href="#">
            <div class="go-arrow">
              
            </div>
          </div>
        </a>
    </section>
<%- include("partials/footer") %>
