<%- include("partials/header") %>
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href='https://use.fontawesome.com/releases/v5.7.2/css/all.css'>
    <link rel="stylesheet" href="./css/home.css">
    <title>Autocreed</title>
</head>

<body>










    <!-- SPONSORS SECTION -->
    <section id="sponsors">
        <div class="container">
            <h3>SPONSORS</h3>
            <div id="demo" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="carousel-caption">
                            <p>If Shai Reznik's TDD videos don't convince you to add automated testing your code, I
                                don't
                                know what will.This was the very best explanation of frameworks for brginners that I've
                                ever
                                seen. </p> <img src="./images/sponsor/sponsor1.png">

                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="carousel-caption">
                            <p>If Shai Reznik's TDD videos don't convince you to add automated testing your code, I
                                don't
                                know what will.This was the very best explanation of frameworks for brginners that I've
                                ever
                                seen.</p> <img src="./images/sponsor/sponsor2.png" class="img-fluid">

                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="carousel-caption">
                            <p>If Shai Reznik's TDD videos don't convince you to add automated testing your code, I
                                don't
                                know what will.This was the very best explanation of frameworks for brginners that I've
                                ever
                                seen.</p> <img src="./images/sponsor/sponsor3.png" class="img-fluid">

                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="carousel-caption">
                            <p>If Shai Reznik's TDD videos don't convince you to add automated testing your code, I
                                don't
                                know what will.This was the very best explanation of frameworks for brginners that I've
                                ever
                                seen.</p> <img src="./images/sponsor/sponsor4.png" class="img-fluid">

                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="carousel-caption">
                            <p>If Shai Reznik's TDD videos don't convince you to add automated testing your code, I
                                don't
                                know what will.This was the very best explanation of frameworks for brginners that I've
                                ever
                                seen.</p> <img src="./images/sponsor/sponsor5.png" class="img-fluid">

                        </div>
                    </div>
                </div> <a class="carousel-control-prev" href="#demo" data-slide="prev"> <i
                        class='fas fa-arrow-left'></i>
                </a> <a class="carousel-control-next" href="#demo" data-slide="next"> <i class='fas fa-arrow-right'></i>
                </a>
            </div>
        </div>
    </section>
    <!-- SPONSORS SECTION ENDS HERE -->






    <!-- Optional JavaScript -->
    <script src="/js/home.js"></script>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
</body>

</html>


<%- include("partials/footer") %>