<%- include("partials/header") %>

<section id="journey">
    <div class="timeline">
      <div class="swiper-container">
        <div class="heading">Our Journey</div>
        <div class="swiper-wrapper">
          <div class="swiper-slide" style="background-image: url('/images/carousel/carousel1.png');" data-year="5 Sept 2020">
    
            <div class="swiper-slide-content">
    
              <span class="timeline-year d-block d-sm-block d-md-none">5 Sept 2020</span>
              <h4 class="timeline-title"></h4>
              <p class="timeline-text">Lorem ipsum dolor site amet, consectetur adipscing elit, sed do eisumod tempor incididut ut labore et dolore magna aliqua. Ut enim ad mimim venjam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
          </div>
          <div class="swiper-slide" style="background-image: url('/images/carousel/carousel2.png');" data-year="5 Sept 2020">
            <div class="swiper-slide-content"><span class="timeline-year d-block d-sm-block d-md-none">5 Sept 2020</span>
              <h4 class="timeline-title"></h4>
              <p class="timeline-text">Lorem ipsum dolor site amet, consectetur adipscing elit, sed do eisumod tempor incididut ut labore et dolore magna aliqua. Ut enim ad mimim venjam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
          </div>
          <div class="swiper-slide" style="background-image: url('/images/carousel/carousel3.png');" data-year="5 Sept 2020">
            <div class="swiper-slide-content"><span class="timeline-year d-block d-sm-block d-md-none">5 Sept 2020</span>
              <h4 class="timeline-title"></h4>
              <p class="timeline-text">Lorem ipsum dolor site amet, consectetur adipscing elit, sed do eisumod tempor incididut ut labore et dolore magna aliqua. Ut enim ad mimim venjam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
          </div>
          <div class="swiper-slide" style="background-image: url('/images/carousel/carousel4.png');" data-year="5 Sept 2020">
            <div class="swiper-slide-content"><span class="timeline-year d-block d-sm-block d-md-none">5 Sept 2020</span>
              <h4 class="timeline-title"></h4>
              <p class="timeline-text">Lorem ipsum dolor site amet, consectetur adipscing elit, sed do eisumod tempor incididut ut labore et dolore magna aliqua. Ut enim ad mimim venjam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
          </div>
          <div class="swiper-slide" style="background-image: url('/images/carousel/carousel1.png');" data-year="5 Sept 2020">
            <div class="swiper-slide-content"><span class="timeline-year d-block d-sm-block d-md-none">5 Sept 2020</span>
              <h4 class="timeline-title"></h4>
              <p class="timeline-text">Lorem ipsum dolor site amet, consectetur adipscing elit, sed do eisumod tempor incididut ut labore et dolore magna aliqua. Ut enim ad mimim venjam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
          </div>
          <div class="swiper-slide" style="background-image: url('/images/carousel/carousel2.png');" data-year="5 Sept 2020">
            <div class="swiper-slide-content"><span class="timeline-year d-block d-sm-block d-md-none">5 Sept 2020</span>
              <h4 class="timeline-title"></h4>
              <p class="timeline-text">Lorem ipsum dolor site amet, consectetur adipscing elit, sed do eisumod tempor incididut ut labore et dolore magna aliqua. Ut enim ad mimim venjam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
          </div>
        </div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
        <div class="swiper-pagination"></div>
      </div>
    </div>
    </section>

<%- include("partials/footer") %>