<%- include("partials/header") %>

<section id="service">

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section_title text-center">
                    <p class="page-heading"><a class="blue">Our Sponsors</a></p>
                    <div class="brand_border">
                        <i class="fa fa-minus" aria-hidden="true"></i>
                        <i class="fas fa-handshake"></i>
                        <i class="fa fa-minus" aria-hidden="true"></i>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                        <br>Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes</p>
                </div>
            </div>
        </div>

        <!--START SINGLE SERVICE AREA-->
        <div class="row single_service">
            <div class="col-12 ">
                <div class="row h-100">
                    <div class="col-12 col-lg-4 my-auto">


                        <img class="i1" src="/images/sponsor/sponsor1.png" alt="">


                    </div>
                    <div class="col-12 col-lg-8 my-auto">


                        <div class="single_service-body">
                            <h4 class="single_service-heading"><a class="heading1" href="">SOLID WORKS</a></h4>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean comLorem ipsum dolor sit
                                amet, consectetuer adipiscing elit. Aenean commodo ligulaLorem ipsum dolor sit amet,
                                consectetuer adipiscing elit. Aenean commodo ligulamodo ligula.</p>


                            <div class="container process-scetion">


                                <div class="social-bar">
                                    <div class="social-icons">


                                        <a href="https://www.youtube.com/watch?v=_XiOcsj3oNI&t=50s" target="_blank"
                                            class="slider-nav-item"><i class="fab fa-facebook"></i></a>

                                        <a href="https://www.youtube.com/watch?v=_XiOcsj3oNI&t=50s" target="_blank"
                                            class="slider-nav-item"><i class="fab fa-instagram"></i></a>
                                        <a href="https://www.youtube.com/watch?v=_XiOcsj3oNI&t=50s" target="_blank"
                                            class="slider-nav-item"><i class="fab fa-linkedin"></i></a>

                                    </div>
                                </div>


                            </div>



                        </div>
                    </div>

                </div>

            </div>

        </div>
        <!--/END SINGLE SERVICE AREA-->

        <!--START SINGLE SERVICE AREA-->
        <div class="row single_service">
            <div class="col-12 ">
                <div class="row h-100">
                    <div class="col-12 col-lg-4 my-auto">


                        <img class="i1" src="/images/sponsor/sponsor2.png" alt="">


                    </div>
                    <div class="col-12 col-lg-8 my-auto">


                        <div class="single_service-body">
                            <h4 class="single_service-heading"><a class="heading1" href="">MATH WORKS</a></h4>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean comLorem ipsum dolor sit
                                amet, consectetuer adipiscing elit. Aenean commodo ligulaLorem ipsum dolor sit amet,
                                consectetuer adipiscing elit. Aenean commodo ligulamodo ligula.</p>


                            <div class="container process-scetion">


                                <div class="social-bar">
                                    <div class="social-icons">


                                        <a href="https://www.youtube.com/watch?v=_XiOcsj3oNI&t=50s" target="_blank"
                                            class="slider-nav-item"><i class="fab fa-facebook"></i></a>

                                        <a href="https://www.youtube.com/watch?v=_XiOcsj3oNI&t=50s" target="_blank"
                                            class="slider-nav-item"><i class="fab fa-instagram"></i></a>
                                        <a href="https://www.youtube.com/watch?v=_XiOcsj3oNI&t=50s" target="_blank"
                                            class="slider-nav-item"><i class="fab fa-linkedin"></i></a>

                                    </div>
                                </div>


                            </div>



                        </div>
                    </div>

                </div>

            </div>

        </div>
        <!--/END SINGLE SERVICE AREA-->
        <!--START SINGLE SERVICE AREA-->
        <div class="row single_service">
            <div class="col-12 ">
                <div class="row h-100">
                    <div class="col-12 col-lg-4 my-auto">


                        <img class="i1" src="/images/sponsor/sponsor3.png" alt="">


                    </div>
                    <div class="col-12 col-lg-8 my-auto">


                        <div class="single_service-body">
                            <h4 class="single_service-heading"><a class="heading1" href="">SIIC</a></h4>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean comLorem ipsum dolor sit
                                amet, consectetuer adipiscing elit. Aenean commodo ligulaLorem ipsum dolor sit amet,
                                consectetuer adipiscing elit. Aenean commodo ligulamodo ligula.</p>


                            <div class="container process-scetion">


                                <div class="social-bar">
                                    <div class="social-icons">


                                        <a href="https://www.youtube.com/watch?v=_XiOcsj3oNI&t=50s" target="_blank"
                                            class="slider-nav-item"><i class="fab fa-facebook"></i></a>

                                        <a href="https://www.youtube.com/watch?v=_XiOcsj3oNI&t=50s" target="_blank"
                                            class="slider-nav-item"><i class="fab fa-instagram"></i></a>
                                        <a href="https://www.youtube.com/watch?v=_XiOcsj3oNI&t=50s" target="_blank"
                                            class="slider-nav-item"><i class="fab fa-linkedin"></i></a>

                                    </div>
                                </div>


                            </div>



                        </div>
                    </div>

                </div>

            </div>

        </div>
        <!--/END SINGLE SERVICE AREA-->
        <!--START SINGLE SERVICE AREA-->
        <div class="row single_service">
            <div class="col-12 ">
                <div class="row h-100">
                    <div class="col-12 col-lg-4 my-auto">


                        <img class="i1" src="/images/sponsor/sponsor4.png" alt="">


                    </div>
                    <div class="col-12 col-lg-8 my-auto">


                        <div class="single_service-body">
                            <h4 class="single_service-heading"><a class="heading1" href="">ALPHA-X</a></h4>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean comLorem ipsum dolor sit
                                amet, consectetuer adipiscing elit. Aenean commodo ligulaLorem ipsum dolor sit amet,
                                consectetuer adipiscing elit. Aenean commodo ligulamodo ligula.</p>


                            <div class="container process-scetion">


                                <div class="social-bar">
                                    <div class="social-icons">


                                        <a href="https://www.youtube.com/watch?v=_XiOcsj3oNI&t=50s" target="_blank"
                                            class="slider-nav-item"><i class="fab fa-facebook"></i></a>

                                        <a href="https://www.youtube.com/watch?v=_XiOcsj3oNI&t=50s" target="_blank"
                                            class="slider-nav-item"><i class="fab fa-instagram"></i></a>
                                        <a href="https://www.youtube.com/watch?v=_XiOcsj3oNI&t=50s" target="_blank"
                                            class="slider-nav-item"><i class="fab fa-linkedin"></i></a>

                                    </div>
                                </div>


                            </div>



                        </div>
                    </div>

                </div>

            </div>

        </div>
        <!--/END SINGLE SERVICE AREA-->
        <!--START SINGLE SERVICE AREA-->
        <div class="row single_service">
            <div class="col-12 ">
                <div class="row h-100">
                    <div class="col-12 col-lg-4 my-auto">


                        <img class="i1" src="/images/sponsor/sponsor5.png" alt="">


                    </div>
                    <div class="col-12 col-lg-8 my-auto">


                        <div class="single_service-body">
                            <h4 class="single_service-heading"><a class="heading1" href="">Golden Motor</a></h4>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean comLorem ipsum dolor sit
                                amet, consectetuer adipiscing elit. Aenean commodo ligulaLorem ipsum dolor sit amet,
                                consectetuer adipiscing elit. Aenean commodo ligulamodo ligula.</p>


                            <div class="container process-scetion">


                                <div class="social-bar">
                                    <div class="social-icons">


                                        <a href="https://www.youtube.com/watch?v=_XiOcsj3oNI&t=50s" target="_blank"
                                            class="slider-nav-item"><i class="fab fa-facebook"></i></a>

                                        <a href="https://www.youtube.com/watch?v=_XiOcsj3oNI&t=50s" target="_blank"
                                            class="slider-nav-item"><i class="fab fa-instagram"></i></a>
                                        <a href="https://www.youtube.com/watch?v=_XiOcsj3oNI&t=50s" target="_blank"
                                            class="slider-nav-item"><i class="fab fa-linkedin"></i></a>

                                    </div>
                                </div>


                            </div>



                        </div>
                    </div>

                </div>

            </div>

        </div>
        <!--/END SINGLE SERVICE AREA-->
</section>
<!--/END SERVICE AREA-->

<%- include("partials/footer") %>