<%- include("partials/header") %>

<section id="service">

    <div>
        <h1 class="heading">OUR SPONSORS</h1>

        <div>
            <div class="p-5  rounded shadow mb-5">
                <!-- Lined tabs-->
                <ul id="myTab2" role="tablist" class="nav nav-pills nav-fill">
                    <li class="nav-item">
                      <a id="home2-tab" data-toggle="tab" href="#home2" role="tab" aria-controls="home2"
                      aria-selected="true" class="nav-link active">SolidWorks</a>
                    </li>
                    <li class="nav-item">
                      <a id="profile2-tab" data-toggle="tab" href="#profile2" role="tab" aria-controls="profile2"
                      aria-selected="false" class="nav-link">MathWorks</a>
                    </li>
                    <li class="nav-item">
                      <a id="contact2-tab" data-toggle="tab" href="#contact2" role="tab" aria-controls="contact2"
                      aria-selected="false" class="nav-link">SIIC</a>
                    </li>
                    <li class="nav-item">
                      <a id="ab2-tab" data-toggle="tab" href="#ab2" role="tab" aria-controls="ab2"
                      aria-selected="false" class="nav-link">ALPHA-X</a>
                    </li>
                    <li class="nav-item">
                      <a id="cd2-tab" data-toggle="tab" href="#cd2" role="tab" aria-controls="cd2"
                      aria-selected="false" class="nav-link">Golden Motor</a>
                    </li>
                    <li class="nav-item">
                      <a id="cd3-tab" data-toggle="tab" href="#cd3" role="tab" aria-controls="cd2"
                      aria-selected="false" class="nav-link">Dubacoor Studios</a>
                    </li>
                  </ul>
                <div id="myTab2Content" class="tab-content">
                    <div id="home2" role="tabpanel" aria-labelledby="home-tab"
                        class="tab-pane fade px-4 py-5 show active">
                        <!--START SINGLE SERVICE AREA-->
                        <div class="row single_service">
                            <div class="col-12 ">
                                <div class="row h-100">
                                    <div class="col-12 col-lg-4 my-auto">


                                        <img class="i1 " src="/images/sponsor/sponsor1.png" alt="SolidWorks">


                                    </div>
                                    <div class="col-12 col-lg-8 my-auto">


                                        <div class="single_service-body">
                                            <h4 class="single_service-heading">SOLID
                                                WORKS</h4>
                                            <p>SolidWorks is a solid modeling computer-aided design and computer-aided
                                                engineering computer program. It is a mechanical design automation
                                                application that lets designers create structural models quickly and
                                                precisely.</p>


                                            <div class="container process-scetion">
                                                <div class="social-bar">
                                                    <a href="https://www.solidworks.com/" target="_blank"
                                                        class="slider-nav-item"><i class="fas fa-globe"></i></a>
                                                </div>
                                            </div>



                                        </div>
                                    </div>

                                </div>

                            </div>

                        </div>
                        <!--/END SINGLE SERVICE AREA-->

                    </div>
                    <div id="profile2" role="tabpanel" aria-labelledby="profile-tab" class="tab-pane fade px-4 py-5">

                        <!--START SINGLE SERVICE AREA-->
                        <div class="row single_service">
                            <div class="col-12 ">
                                <div class="row h-100">
                                    <div class="col-12 col-lg-4 my-auto">


                                        <img class="i1" src="/images/sponsor/sponsor2.png" alt="MathWorks">


                                    </div>
                                    <div class="col-12 col-lg-8 my-auto">


                                        <div class="single_service-body">
                                            <h4 class="single_service-heading">MATH
                                                WORKS</h4>
                                            <p>Accelerating the pace of engineering and science. MathWorks is the
                                                leading developer of mathematical computing software for engineers and
                                                scientists.</p>


                                            <div class="container process-scetion">
                                                <div class="social-bar">
                                                    <a href="https://www.mathworks.com/" target="_blank"
                                                        class="slider-nav-item"><i class="fas fa-globe"></i></a>
                                                </div>
                                            </div>



                                        </div>
                                    </div>

                                </div>

                            </div>

                        </div>
                        <!--/END SINGLE SERVICE AREA-->
                    </div>
                    <div id="contact2" role="tabpanel" aria-labelledby="contact-tab" class="tab-pane fade px-4 py-5">
                        <!--START SINGLE SERVICE AREA-->
                        <div class="row single_service">
                            <div class="col-12 ">
                                <div class="row h-100">
                                    <div class="col-12 col-lg-4 my-auto">


                                        <img class="i1 i2 i3" src="/images/sponsor/sponsor3.png" alt="SIIC">


                                    </div>
                                    <div class="col-12 col-lg-8 my-auto">


                                        <div class="single_service-body">
                                            <h4 class="single_service-heading">SIIC</h4>
                                            <p>SIIC is an organization with a mission to promote the right practices of
                                                Engineering. The organization's vision is to provide a common platform
                                                to create a knowledge sharing hub.</p>


                                            <div class="container process-scetion">
                                                <div class="social-bar">
                                                    <a href="https://srmiic.com/" target="_blank"
                                                        class="slider-nav-item"><i class="fas fa-globe"></i></a>
                                                </div>
                                            </div>


                                        </div>
                                    </div>

                                </div>

                            </div>

                        </div>
                        <!--/END SINGLE SERVICE AREA-->
                    </div>

                    <div id="ab2" role="tabpanel" aria-labelledby="ab-tab" class="tab-pane fade px-4 py-5">

                        <!--START SINGLE SERVICE AREA-->
                        <div class="row single_service">
                            <div class="col-12 ">
                                <div class="row h-100">
                                    <div class="col-12 col-lg-4 my-auto">


                                        <img class="i1 i3" src="/images/sponsor/sponsor4.png" alt="ALPHA-X">


                                    </div>
                                    <div class="col-12 col-lg-8 my-auto">


                                        <div class="single_service-body">
                                            <h4 class="single_service-heading">ALPHA-X</h4>
                                            <p>An EnerSys company, Alpha-X’s innovative solutions are designed for
                                                reliability and efficiency, helping to maximize network availability to
                                                support advanced service offering delivery and revenue opportunities.
                                            </p>


                                            <div class="container process-scetion">
                                                <div class="social-bar">
                                                    <a href="https://www.solidworks.com/" target="_blank"
                                                        class="slider-nav-item"><i class="fas fa-globe"></i></a>
                                                </div>
                                            </div>



                                        </div>
                                    </div>

                                </div>

                            </div>

                        </div>
                        <!--/END SINGLE SERVICE AREA-->
                    </div>

                    <div id="cd2" role="tabpanel" aria-labelledby="cd-tab" class="tab-pane fade px-4 py-5">
                        <!--START SINGLE SERVICE AREA-->
                        <div class="row single_service">
                            <div class="col-12 ">
                                <div class="row h-100">
                                    <div class="col-12 col-lg-4 my-auto">


                                        <img class="i1 i3" src="/images/sponsor/sponsor5.png" alt="Golden Motors">


                                    </div>
                                    <div class="col-12 col-lg-8 my-auto">


                                        <div class="single_service-body">
                                            <h4 class="single_service-heading">Golden Motor</h4>
                                            <p>Golden Motor Technology Co Ltd is an emerging as one stop shop for key
                                                components of personal electric vehicles(PEV), from electric bikes to
                                                electric cars. You can always find suitable solutions, parts for your EV
                                                applications from us. With our strong R&D team, established dealer
                                                networks over 60 countries, we are confident to provide our valuable
                                                customers with top quality products and services at competitive cost.
                                            </p>


                                            <div class="container process-scetion">
                                                <div class="social-bar">
                                                    <a href="https://www.goldenmotor.com/" target="_blank"
                                                        class="slider-nav-item"><i class="fas fa-globe"></i></a>
                                                </div>
                                            </div>



                                        </div>
                                    </div>

                                </div>

                            </div>

                        </div>
                        <!--/END SINGLE SERVICE AREA-->
                    </div>

                    <div id="cd3" role="tabpanel" aria-labelledby="cd-tab" class="tab-pane fade px-4 py-5">
                        <!--START SINGLE SERVICE AREA-->
                        <div class="row single_service">
                            <div class="col-12 ">
                                <div class="row h-100">
                                    <div class="col-12 col-lg-4 my-auto">


                                        <img class="i4" src="/images/sponsor/sponsor6.png" alt="Golden Motors">


                                    </div>
                                    <div class="col-12 col-lg-8 my-auto">


                                        <div class="single_service-body">
                                            <h4 class="single_service-heading">Dubacoor Studios</h4>
                                            <p>An all-occasion professional photography studio dedicated to telling
                                                stories through pictures & videos. Armed with the most comprehensive
                                                post-processing software tools, Dubacoor Studios has it all!</p>


                                            <div class="container process-scetion">
                                                <div class="social-bar">
                                                    <a href="https://instagram.com/dubacoorstudios" target="_blank"
                                                        class="slider-nav-item"><i class="fas fa-globe"></i></a>
                                                </div>
                                            </div>



                                        </div>
                                    </div>

                                </div>

                            </div>

                        </div>
                        <!--/END SINGLE SERVICE AREA-->
                    </div>
                </div>
                <!-- End lined tabs -->
            </div>

        </div>
    </div>




</section>

<%- include("partials/footer") %>