<%- include("partials/header") %>



<section id="service">

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section_title text-center">
                    <p class="page-heading"><a class="blue">Our Sponsors</a></p>


                </div>
            </div>
        </div>





        <div class="tabs">
            <input type="radio" name="tabs" id="tabone" checked="checked">
            <label for="tabone">SOLID WORKS</label>
            <div class="tab">

                <!--START SINGLE SERVICE AREA-->
                <div class="row single_service">
                    <div class="col-12 ">
                        <div class="row h-100">
                            <div class="col-12 col-lg-4 my-auto">


                                <img class="i1 " src="/images/sponsor/sponsor1.png" alt="SolidWorks">


                            </div>
                            <div class="col-12 col-lg-8 my-auto">


                                <div class="single_service-body">
                                    <h4 class="single_service-heading"><a class="heading1" href="">SOLID
                                            WORKS</a></h4>
                                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean comLorem
                                        ipsum dolor sit
                                        amet, consectetuer adipiscing elit. Aenean commodo ligulaLorem ipsum
                                        dolor sit amet,
                                        consectetuer adipiscing elit. Aenean commodo ligulamodo ligula.</p>


                                    <div class="container process-scetion">


                                        <div class="social-bar">
                                            <div class="social-icons">


                                                <a href="https://www.youtube.com/watch?v=_XiOcsj3oNI&t=50s"
                                                    target="_blank" class="slider-nav-item"><i
                                                        class="fab fa-facebook"></i></a>

                                                <a href="https://www.youtube.com/watch?v=_XiOcsj3oNI&t=50s"
                                                    target="_blank" class="slider-nav-item"><i
                                                        class="fab fa-instagram"></i></a>
                                                <a href="https://www.youtube.com/watch?v=_XiOcsj3oNI&t=50s"
                                                    target="_blank" class="slider-nav-item"><i
                                                        class="fab fa-linkedin"></i></a>

                                            </div>
                                        </div>


                                    </div>



                                </div>
                            </div>

                        </div>

                    </div>

                </div>
                <!--/END SINGLE SERVICE AREA-->
            </div>
            <input type="radio" name="tabs" id="tabtwo">
            <label for="tabtwo">MATHWORK</label>
            <div class="tab">

                <!--START SINGLE SERVICE AREA-->
                <div class="row single_service">
                    <div class="col-12 ">
                        <div class="row h-100">
                            <div class="col-12 col-lg-4 my-auto">


                                <img class="i1" src="/images/sponsor/sponsor2.png" alt="MathWorks">


                            </div>
                            <div class="col-12 col-lg-8 my-auto">


                                <div class="single_service-body">
                                    <h4 class="single_service-heading"><a class="heading1" href="">MATH
                                            WORKS</a></h4>
                                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean comLorem
                                        ipsum dolor sit
                                        amet, consectetuer adipiscing elit. Aenean commodo ligulaLorem ipsum
                                        dolor sit amet,
                                        consectetuer adipiscing elit. Aenean commodo ligulamodo ligula.</p>


                                    <div class="container process-scetion">


                                        <div class="social-bar">
                                            <div class="social-icons">


                                                <a href="https://www.youtube.com/watch?v=_XiOcsj3oNI&t=50s"
                                                    target="_blank" class="slider-nav-item"><i
                                                        class="fab fa-facebook"></i></a>

                                                <a href="https://www.youtube.com/watch?v=_XiOcsj3oNI&t=50s"
                                                    target="_blank" class="slider-nav-item"><i
                                                        class="fab fa-instagram"></i></a>
                                                <a href="https://www.youtube.com/watch?v=_XiOcsj3oNI&t=50s"
                                                    target="_blank" class="slider-nav-item"><i
                                                        class="fab fa-linkedin"></i></a>

                                            </div>
                                        </div>


                                    </div>



                                </div>
                            </div>

                        </div>

                    </div>

                </div>
                <!--/END SINGLE SERVICE AREA-->
            </div>
            <input type="radio" name="tabs" id="tab3">
            <label for="tab3">SIIC</label>
            <div class="tab">
                <!--START SINGLE SERVICE AREA-->
                <div class="row single_service">
                    <div class="col-12 ">
                        <div class="row h-100">
                            <div class="col-12 col-lg-4 my-auto">


                                <img class="i1 i2 i3" src="/images/sponsor/sponsor3.png" alt="SIIC">


                            </div>
                            <div class="col-12 col-lg-8 my-auto">


                                <div class="single_service-body">
                                    <h4 class="single_service-heading"><a class="heading1" href="">SIIC</a></h4>
                                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean comLorem
                                        ipsum dolor sit
                                        amet, consectetuer adipiscing elit. Aenean commodo ligulaLorem ipsum
                                        dolor sit amet,
                                        consectetuer adipiscing elit. Aenean commodo ligulamodo ligula.</p>


                                    <div class="container process-scetion">


                                        <div class="social-bar">
                                            <div class="social-icons">


                                                <a href="https://www.youtube.com/watch?v=_XiOcsj3oNI&t=50s"
                                                    target="_blank" class="slider-nav-item"><i
                                                        class="fab fa-facebook"></i></a>

                                                <a href="https://www.youtube.com/watch?v=_XiOcsj3oNI&t=50s"
                                                    target="_blank" class="slider-nav-item"><i
                                                        class="fab fa-instagram"></i></a>
                                                <a href="https://www.youtube.com/watch?v=_XiOcsj3oNI&t=50s"
                                                    target="_blank" class="slider-nav-item"><i
                                                        class="fab fa-linkedin"></i></a>

                                            </div>
                                        </div>


                                    </div>



                                </div>
                            </div>

                        </div>

                    </div>

                </div>
                <!--/END SINGLE SERVICE AREA-->
            </div>

            <input type="radio" name="tabs" id="tab4">
            <label for="tab4">ALPHA-X</label>
            <div class="tab">
                <!--START SINGLE SERVICE AREA-->
                <div class="row single_service">
                    <div class="col-12 ">
                        <div class="row h-100">
                            <div class="col-12 col-lg-4 my-auto">


                                <img class="i1 i3" src="/images/sponsor/sponsor4.png" alt="ALPHA-X">


                            </div>
                            <div class="col-12 col-lg-8 my-auto">


                                <div class="single_service-body">
                                    <h4 class="single_service-heading"><a class="heading1" href="">ALPHA-X</a>
                                    </h4>
                                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean comLorem
                                        ipsum dolor sit
                                        amet, consectetuer adipiscing elit. Aenean commodo ligulaLorem ipsum
                                        dolor
                                        sit amet,
                                        consectetuer adipiscing elit. Aenean commodo ligulamodo ligula.</p>


                                    <div class="container process-scetion">


                                        <div class="social-bar">
                                            <div class="social-icons">


                                                <a href="https://www.youtube.com/watch?v=_XiOcsj3oNI&t=50s"
                                                    target="_blank" class="slider-nav-item"><i
                                                        class="fab fa-facebook"></i></a>

                                                <a href="https://www.youtube.com/watch?v=_XiOcsj3oNI&t=50s"
                                                    target="_blank" class="slider-nav-item"><i
                                                        class="fab fa-instagram"></i></a>
                                                <a href="https://www.youtube.com/watch?v=_XiOcsj3oNI&t=50s"
                                                    target="_blank" class="slider-nav-item"><i
                                                        class="fab fa-linkedin"></i></a>

                                            </div>
                                        </div>


                                    </div>



                                </div>
                            </div>

                        </div>

                    </div>

                </div>
                <!--/END SINGLE SERVICE AREA-->
            </div>

            <input type="radio" name="tabs" id="tab5">
            <label for="tab5" class="border">GOLDEN MOTORS</label>
            <div class="tab">
                <!--START SINGLE SERVICE AREA-->
                <div class="row single_service">
                    <div class="col-12 ">
                        <div class="row h-100">
                            <div class="col-12 col-lg-4 my-auto">


                                <img class="i1 i3" src="/images/sponsor/sponsor5.png" alt="Golden Motors">


                            </div>
                            <div class="col-12 col-lg-8 my-auto">


                                <div class="single_service-body">
                                    <h4 class="single_service-heading"><a class="heading1" href="">GOLDEN MOTORS</a>
                                    </h4>
                                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean comLorem
                                        ipsum
                                        dolor sit
                                        amet, consectetuer adipiscing elit. Aenean commodo ligulaLorem ipsum
                                        dolor sit
                                        amet,
                                        consectetuer adipiscing elit. Aenean commodo ligulamodo ligula.</p>


                                    <div class="container process-scetion">


                                        <div class="social-bar">
                                            <div class="social-icons">


                                                <a href="https://www.youtube.com/watch?v=_XiOcsj3oNI&t=50s"
                                                    target="_blank" class="slider-nav-item"><i
                                                        class="fab fa-facebook"></i></a>

                                                <a href="https://www.youtube.com/watch?v=_XiOcsj3oNI&t=50s"
                                                    target="_blank" class="slider-nav-item"><i
                                                        class="fab fa-instagram"></i></a>
                                                <a href="https://www.youtube.com/watch?v=_XiOcsj3oNI&t=50s"
                                                    target="_blank" class="slider-nav-item"><i
                                                        class="fab fa-linkedin"></i></a>

                                            </div>
                                        </div>


                                    </div>



                                </div>
                            </div>

                        </div>

                    </div>

                </div>
                <!--/END SINGLE SERVICE AREA-->
            </div>
        </div>
















    </div>
</section>

<%- include("partials/footer") %>