<%- include("partials/header") %>
<section id="service">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section_title text-center">
                    <h2>Our Sponsors</h2>
                    <div class="brand_border">
                        <i class="fa fa-minus" aria-hidden="true"></i>
                        <i class="fas fa-handshake"></i>
                        <i class="fa fa-minus" aria-hidden="true"></i>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                        <br>Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes</p>
                </div>
            </div>
        </div>
        <div class="row">
            <!--START SINGLE SERVICE AREA-->
            <div class="col-md-6 col-lg-4 col-sm-12">
                <div class="single_service hvr-curl-top-right">
                    <div class="single_service-left">
                        <div class="icon">
                            <img src="./images/sponsor/sponsor1.png" alt="">
                        </div>
                    </div>
                    <div class="single_service-body">
                        <h4 class="single_service-heading">Solid Works</h4>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula.</p>
                        <div class="rounded-social-buttons">
                            <a class="social-button facebook" href="https://www.facebook.com/" target="_blank"><i
                                    class="fab fa-facebook-f"></i></a>

                            <a class="social-button linkedin" href="https://www.linkedin.com/" target="_blank"><i
                                    class="fab fa-linkedin"></i></a>

                            <a class="social-button instagram" href="https://www.instagram.com/" target="_blank"><i
                                    class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <!--/END SINGLE SERVICE AREA-->
            <!--START SINGLE SERVICE AREA-->
            <div class="col-md-6 col-lg-4 col-sm-12">
                <div class="single_service hvr-curl-top-right">
                    <div class="single_service-left">
                        <div class="icon">
                            <img src="./images/sponsor/sponsor2.png" alt="">
                        </div>
                    </div>
                    <div class="single_service-body">
                        <h4 class="single_service-heading">MathWorks</h4>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula.</p>
                        <div class="rounded-social-buttons">
                            <a class="social-button facebook" href="https://www.facebook.com/" target="_blank"><i
                                    class="fab fa-facebook-f"></i></a>

                            <a class="social-button linkedin" href="https://www.linkedin.com/" target="_blank"><i
                                    class="fab fa-linkedin"></i></a>

                            <a class="social-button instagram" href="https://www.instagram.com/" target="_blank"><i
                                    class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <!--/END SINGLE SERVICE AREA-->
            <!--START SINGLE SERVICE AREA-->
            <div class="col-md-6 col-lg-4 col-sm-12">
                <div class="single_service hvr-curl-top-right">
                    <div class="single_service-left">
                        <div class="icon">
                            <img src="./images/sponsor/sponsor3.png" alt="">
                        </div>
                    </div>
                    <div class="single_service-body">
                        <h4 class="single_service-heading">SIIC</h4>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula.</p>
                        <div class="rounded-social-buttons">
                            <a class="social-button facebook" href="https://www.facebook.com/" target="_blank"><i
                                    class="fab fa-facebook-f"></i></a>

                            <a class="social-button linkedin" href="https://www.linkedin.com/" target="_blank"><i
                                    class="fab fa-linkedin"></i></a>

                            <a class="social-button instagram" href="https://www.instagram.com/" target="_blank"><i
                                    class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/END SINGLE SERVICE AREA-->
        <!--START SINGLE SERVICE AREA-->
        <div class="row">
            <div class="col-md-6 col-lg-6 col-sm-12">
                <div class="single_service hvr-curl-top-right">
                    <div class="single_service-left">
                        <div class="icon">
                            <img src="./images/sponsor/sponsor4.png" alt="">
                        </div>
                    </div>
                    <div class="single_service-body">
                        <h4 class="single_service-heading">Alpha-X</h4>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula.</p>
                        <div class="rounded-social-buttons">
                            <a class="social-button facebook" href="https://www.facebook.com/" target="_blank"><i
                                    class="fab fa-facebook-f"></i></a>

                            <a class="social-button linkedin" href="https://www.linkedin.com/" target="_blank"><i
                                    class="fab fa-linkedin"></i></a>

                            <a class="social-button instagram" href="https://www.instagram.com/" target="_blank"><i
                                    class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <!--/END SINGLE SERVICE AREA-->
            <!--START SINGLE SERVICE AREA-->
            <div class="col-md-6 col-lg-6 col-sm-12">
                <div class="single_service hvr-curl-top-right">
                    <div class="single_service-left">
                        <div class="icon">
                            <img src="./images/sponsor/sponsor5.png" alt="">
                        </div>
                    </div>
                    <div class="single_service-body">
                        <h4 class="single_service-heading">Golden Motor</h4>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula.</p>
                        <div class="rounded-social-buttons">
                            <a class="social-button facebook" href="https://www.facebook.com/" target="_blank"><i
                                    class="fab fa-facebook-f"></i></a>

                            <a class="social-button linkedin" href="https://www.linkedin.com/" target="_blank"><i
                                    class="fab fa-linkedin"></i></a>

                            <a class="social-button instagram" href="https://www.instagram.com/" target="_blank"><i
                                    class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <!--/END SINGLE SERVICE AREA-->
        </div>

    </div>
</section>
<!--/END SERVICE AREA-->
<%- include("partials/footer") %>