<%- include("partials/header") %>



<section id="service">

    <div class="">
        <div class="row">
            <div class="col-md-12">
                <div class="section_title text-center">
                    <p class="page-heading"><a class="blue">Our Sponsors</a></p>
                    <div class="brand_border">
                        <i class="fa fa-minus" aria-hidden="true"></i>
                        <i class="fas fa-handshake"></i>
                        <i class="fa fa-minus" aria-hidden="true"></i>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                        <br>Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes</p>
                </div>
            </div>
        </div>

        <div class="">


            <div class="p-5  rounded shadow mb-5">
                <!-- Lined tabs-->
                <ul id="myTab2" role="tablist"
                    class="nav nav-tabs nav-pills with-arrow lined flex-column flex-sm-row text-center">
                    <li class="nav-item flex-sm-fill">
                        <a id="home2-tab" data-toggle="tab" href="#home2" role="tab" aria-controls="home2"
                            aria-selected="true"
                            class="nav-link text-uppercase font-weight-bold mr-sm-3 rounded-0 active">SolidWorks</a>
                    </li>
                    <li class="nav-item flex-sm-fill">
                        <a id="profile2-tab" data-toggle="tab" href="#profile2" role="tab" aria-controls="profile2"
                            aria-selected="false"
                            class="nav-link text-uppercase font-weight-bold mr-sm-3 rounded-0">MathWorks</a>
                    </li>
                    <li class="nav-item flex-sm-fill">
                        <a id="contact2-tab" data-toggle="tab" href="#contact2" role="tab" aria-controls="contact2"
                            aria-selected="false" class="nav-link text-uppercase font-weight-bold rounded-0">SIIC</a>
                    </li>
                    <li class="nav-item flex-sm-fill">
                        <a id="ab2-tab" data-toggle="tab" href="#ab2" role="tab" aria-controls="ab2"
                            aria-selected="false" class="nav-link text-uppercase font-weight-bold rounded-0">ALPHA-X</a>
                    </li>
                    <li class="nav-item flex-sm-fill">
                        <a id="cd2-tab" data-toggle="tab" href="#cd2" role="tab" aria-controls="cd2"
                            aria-selected="false" class="nav-link text-uppercase font-weight-bold rounded-0">Golden
                            Motor</a>
                    </li>
                </ul>
                <div id="myTab2Content" class="tab-content">
                    <div id="home2" role="tabpanel" aria-labelledby="home-tab"
                        class="tab-pane fade px-4 py-5 show active">
                        <!--START SINGLE SERVICE AREA-->
                        <div class="row single_service">
                            <div class="col-12 ">
                                <div class="row h-100">
                                    <div class="col-12 col-lg-4 my-auto">


                                        <img class="i1" src="/images/sponsor/sponsor1.png" alt="SolidWorks">


                                    </div>
                                    <div class="col-12 col-lg-8 my-auto">


                                        <div class="single_service-body">
                                            <h4 class="single_service-heading"><a class="heading1" href="">SOLID
                                                    WORKS</a></h4>
                                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean comLorem
                                                ipsum dolor sit
                                                amet, consectetuer adipiscing elit. Aenean commodo ligulaLorem ipsum
                                                dolor sit amet,
                                                consectetuer adipiscing elit. Aenean commodo ligulamodo ligula.</p>


                                            <div class="container process-scetion">


                                                <div class="social-bar">
                                                    <div class="social-icons">


                                                        <a href="https://www.youtube.com/watch?v=_XiOcsj3oNI&t=50s"
                                                            target="_blank" class="slider-nav-item"><i
                                                                class="fab fa-facebook"></i></a>

                                                        <a href="https://www.youtube.com/watch?v=_XiOcsj3oNI&t=50s"
                                                            target="_blank" class="slider-nav-item"><i
                                                                class="fab fa-instagram"></i></a>
                                                        <a href="https://www.youtube.com/watch?v=_XiOcsj3oNI&t=50s"
                                                            target="_blank" class="slider-nav-item"><i
                                                                class="fab fa-linkedin"></i></a>

                                                    </div>
                                                </div>


                                            </div>



                                        </div>
                                    </div>

                                </div>

                            </div>

                        </div>
                        <!--/END SINGLE SERVICE AREA-->

                    </div>
                    <div id="profile2" role="tabpanel" aria-labelledby="profile-tab" class="tab-pane fade px-4 py-5">

                        <!--START SINGLE SERVICE AREA-->
                        <div class="row single_service">
                            <div class="col-12 ">
                                <div class="row h-100">
                                    <div class="col-12 col-lg-4 my-auto">


                                        <img class="i1" src="/images/sponsor/sponsor2.png" alt="MathWorks">


                                    </div>
                                    <div class="col-12 col-lg-8 my-auto">


                                        <div class="single_service-body">
                                            <h4 class="single_service-heading"><a class="heading1" href="">MATH
                                                    WORKS</a></h4>
                                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean comLorem
                                                ipsum dolor sit
                                                amet, consectetuer adipiscing elit. Aenean commodo ligulaLorem ipsum
                                                dolor sit amet,
                                                consectetuer adipiscing elit. Aenean commodo ligulamodo ligula.</p>


                                            <div class="container process-scetion">


                                                <div class="social-bar">
                                                    <div class="social-icons">


                                                        <a href="https://www.youtube.com/watch?v=_XiOcsj3oNI&t=50s"
                                                            target="_blank" class="slider-nav-item"><i
                                                                class="fab fa-facebook"></i></a>

                                                        <a href="https://www.youtube.com/watch?v=_XiOcsj3oNI&t=50s"
                                                            target="_blank" class="slider-nav-item"><i
                                                                class="fab fa-instagram"></i></a>
                                                        <a href="https://www.youtube.com/watch?v=_XiOcsj3oNI&t=50s"
                                                            target="_blank" class="slider-nav-item"><i
                                                                class="fab fa-linkedin"></i></a>

                                                    </div>
                                                </div>


                                            </div>



                                        </div>
                                    </div>

                                </div>

                            </div>

                        </div>
                        <!--/END SINGLE SERVICE AREA-->
                    </div>
                    <div id="contact2" role="tabpanel" aria-labelledby="contact-tab" class="tab-pane fade px-4 py-5">
                        <!--START SINGLE SERVICE AREA-->
                        <div class="row single_service">
                            <div class="col-12 ">
                                <div class="row h-100">
                                    <div class="col-12 col-lg-4 my-auto">


                                        <img class="i1 i2" src="/images/sponsor/sponsor3.png" alt="SIIC">


                                    </div>
                                    <div class="col-12 col-lg-8 my-auto">


                                        <div class="single_service-body">
                                            <h4 class="single_service-heading"><a class="heading1" href="">SIIC</a></h4>
                                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean comLorem
                                                ipsum dolor sit
                                                amet, consectetuer adipiscing elit. Aenean commodo ligulaLorem ipsum
                                                dolor sit amet,
                                                consectetuer adipiscing elit. Aenean commodo ligulamodo ligula.</p>


                                            <div class="container process-scetion">


                                                <div class="social-bar">
                                                    <div class="social-icons">


                                                        <a href="https://www.youtube.com/watch?v=_XiOcsj3oNI&t=50s"
                                                            target="_blank" class="slider-nav-item"><i
                                                                class="fab fa-facebook"></i></a>

                                                        <a href="https://www.youtube.com/watch?v=_XiOcsj3oNI&t=50s"
                                                            target="_blank" class="slider-nav-item"><i
                                                                class="fab fa-instagram"></i></a>
                                                        <a href="https://www.youtube.com/watch?v=_XiOcsj3oNI&t=50s"
                                                            target="_blank" class="slider-nav-item"><i
                                                                class="fab fa-linkedin"></i></a>

                                                    </div>
                                                </div>


                                            </div>



                                        </div>
                                    </div>

                                </div>

                            </div>

                        </div>
                        <!--/END SINGLE SERVICE AREA-->
                    </div>

                    <div id="ab2" role="tabpanel" aria-labelledby="ab-tab" class="tab-pane fade px-4 py-5">

                        <!--START SINGLE SERVICE AREA-->
                        <div class="row single_service">
                            <div class="col-12 ">
                                <div class="row h-100">
                                    <div class="col-12 col-lg-4 my-auto">


                                        <img class="i1" src="/images/sponsor/sponsor4.png" alt="ALPHA-X">


                                    </div>
                                    <div class="col-12 col-lg-8 my-auto">


                                        <div class="single_service-body">
                                            <h4 class="single_service-heading"><a class="heading1" href="">ALPHA-X</a>
                                            </h4>
                                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean comLorem
                                                ipsum dolor sit
                                                amet, consectetuer adipiscing elit. Aenean commodo ligulaLorem ipsum
                                                dolor
                                                sit amet,
                                                consectetuer adipiscing elit. Aenean commodo ligulamodo ligula.</p>


                                            <div class="container process-scetion">


                                                <div class="social-bar">
                                                    <div class="social-icons">


                                                        <a href="https://www.youtube.com/watch?v=_XiOcsj3oNI&t=50s"
                                                            target="_blank" class="slider-nav-item"><i
                                                                class="fab fa-facebook"></i></a>

                                                        <a href="https://www.youtube.com/watch?v=_XiOcsj3oNI&t=50s"
                                                            target="_blank" class="slider-nav-item"><i
                                                                class="fab fa-instagram"></i></a>
                                                        <a href="https://www.youtube.com/watch?v=_XiOcsj3oNI&t=50s"
                                                            target="_blank" class="slider-nav-item"><i
                                                                class="fab fa-linkedin"></i></a>

                                                    </div>
                                                </div>


                                            </div>



                                        </div>
                                    </div>

                                </div>

                            </div>

                        </div>
                        <!--/END SINGLE SERVICE AREA-->
                    </div>

                    <div id="cd2" role="tabpanel" aria-labelledby="cd-tab" class="tab-pane fade px-4 py-5">
                        <!--START SINGLE SERVICE AREA-->
                        <div class="row single_service">
                            <div class="col-12 ">
                                <div class="row h-100">
                                    <div class="col-12 col-lg-4 my-auto">


                                        <img class="i1" src="/images/sponsor/sponsor5.png" alt="Golden Motors">


                                    </div>
                                    <div class="col-12 col-lg-8 my-auto">


                                        <div class="single_service-body">
                                            <h4 class="single_service-heading"><a class="heading1" href="">Golden
                                                    Motor</a></h4>
                                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean comLorem
                                                ipsum
                                                dolor sit
                                                amet, consectetuer adipiscing elit. Aenean commodo ligulaLorem ipsum
                                                dolor sit
                                                amet,
                                                consectetuer adipiscing elit. Aenean commodo ligulamodo ligula.</p>


                                            <div class="container process-scetion">


                                                <div class="social-bar">
                                                    <div class="social-icons">


                                                        <a href="https://www.youtube.com/watch?v=_XiOcsj3oNI&t=50s"
                                                            target="_blank" class="slider-nav-item"><i
                                                                class="fab fa-facebook"></i></a>

                                                        <a href="https://www.youtube.com/watch?v=_XiOcsj3oNI&t=50s"
                                                            target="_blank" class="slider-nav-item"><i
                                                                class="fab fa-instagram"></i></a>
                                                        <a href="https://www.youtube.com/watch?v=_XiOcsj3oNI&t=50s"
                                                            target="_blank" class="slider-nav-item"><i
                                                                class="fab fa-linkedin"></i></a>

                                                    </div>
                                                </div>


                                            </div>



                                        </div>
                                    </div>

                                </div>

                            </div>

                        </div>
                        <!--/END SINGLE SERVICE AREA-->
                    </div>
                </div>
                <!-- End lined tabs -->
            </div>

        </div>
    </div>




</section>

<%- include("partials/footer") %>