<%- include("partials/header") %>
<section id="store">
  <div class="modal fade opacity-animate" id="form" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content text-center">
        <div class="modal-header border-bottom-0 ">
          <h2 class="modal-title" id="exampleModalLabel">Details</h2>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form>
          <div class="modal-body">
            <div class="form-group">
              <label for="name">Name<sup class="text-danger">*</sup></label>
              <input type="text" class="form-control" placeholder="Enter your name" required>
            </div>
            <div class="form-group">
              <label for="email1">Email address<sup class="text-danger">*</sup></label>
              <input type="email" class="form-control" id="email1" aria-describedby="emailHelp" placeholder="Enter your email" required>
              <small id="emailHelp" class="form-text text-muted">Your information is safe with us.</small>
            </div>
           
            <div class="form-group">
              <label for="address">Address<sup class="text-danger">*</sup></label>
              <input type="text" class="form-control" placeholder="Enter your address" required>
            </div>
            <div class="form-group">
              <label for="phone">Phone no.<sup class="text-danger">*</sup></label>
              <input type="text" class="form-control" placeholder="Enter your phone no." required>
            </div>
          </div>
          <div class="modal-footer border-top-0 d-flex justify-content-center">
            <button class="btn btn-danger" data-dismiss="modal" aria-label="Close">Cancel</button>
            <button type="submit" class="btn btn-primary">Proceed</button>
          </div>
        </form>
      </div>
    </div>
  </div>

<section id="store">
  <div class="modal fade opacity-animate" id="form" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content text-center">
        <div class="modal-header border-bottom-0 ">
          <h2 class="modal-title" id="exampleModalLabel">Details</h2>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form>
          <div class="modal-body">
            <div class="form-group">
              <label for="name">Name<sup class="text-danger">*</sup></label>
              <input type="text" class="form-control" placeholder="Enter your name" required>
            </div>
            <div class="form-group">
              <label for="email1">Email address<sup class="text-danger">*</sup></label>
              <input type="email" class="form-control" id="email1" aria-describedby="emailHelp" placeholder="Enter your email" required>
              <small id="emailHelp" class="form-text text-muted">Your information is safe with us.</small>
            </div>
           
            <div class="form-group">
              <label for="address">Address<sup class="text-danger">*</sup></label>
              <input type="text" class="form-control" placeholder="Enter your address" required>
            </div>
            <div class="form-group">
              <label for="phone">Phone no.<sup class="text-danger">*</sup></label>
              <input type="text" class="form-control" placeholder="Enter your phone no." required>
            </div>
          </div>
          <div class="modal-footer border-top-0 d-flex justify-content-center">
            <button class="btn btn-danger" data-dismiss="modal" aria-label="Close">Cancel</button>
            <button type="submit" class="btn btn-primary">Proceed</button>
          </div>
        </form>
      </div>
    </div>
  </div>

<section id="store">
    <div class="modal fade opacity-animate" id="form" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content text-center">
          <div class="modal-header border-bottom-0 ">
            <h2 class="modal-title" id="exampleModalLabel">Details</h2>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form>
            <div class="modal-body">
              <div class="form-group">
                <label for="name">Name<sup class="text-danger">*</sup></label>
                <input type="text" class="form-control" placeholder="Enter your name" required>
              </div>
              <div class="form-group">
                <label for="email1">Email address<sup class="text-danger">*</sup></label>
                <input type="email" class="form-control" id="email1" aria-describedby="emailHelp" placeholder="Enter your email" required>
                <small id="emailHelp" class="form-text text-muted">Your information is safe with us.</small>
              </div>
             
              <div class="form-group">
                <label for="address">Address<sup class="text-danger">*</sup></label>
                <input type="text" class="form-control" placeholder="Enter your address" required>
              </div>
              <div class="form-group">
                <label for="phone">Phone no.<sup class="text-danger">*</sup></label>
                <input type="text" class="form-control" placeholder="Enter your phone no." required>
              </div>
            </div>
            <div class="modal-footer border-top-0 d-flex justify-content-center">
              <button class="btn btn-danger" data-dismiss="modal" aria-label="Close">Cancel</button>
              <button type="submit" class="btn btn-primary">Proceed</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  
    <div class="modal fade opacity-animate" id="form2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content text-center">
          <div class="modal-header border-bottom-0 ">
            <h2 class="modal-title" id="exampleModalLabel">Details</h2>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form>
            <div class="modal-body">
              <div class="form-group">
                <label for="name">Name<sup class="text-danger">*</sup> </label>
                <input type="text" class="form-control" placeholder="Enter your name" required>
              </div>
              <div class="form-group">
                <label for="email1">Email address</label>
                <input type="email" class="form-control" id="email1" aria-describedby="emailHelp" placeholder="Enter your email">
                <small id="emailHelp" class="form-text text-muted"><small>*optional</small></small>
              </div>
              <div class="form-group">
                <label for="text">Comment</label>
                <textarea class="form-control" rows="3" id="comment"></textarea>
              </div>  
            </div>
            <div class="modal-footer border-top-0 d-flex justify-content-center">
              <button class="btn btn-danger" data-dismiss="modal" aria-label="Close">Cancel</button>
              <button type="submit" class="btn btn-success">Proceed</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  
    <div class="dropdown text-left cart">
      <button class="btn btn-cart" type="button" data-toggle="dropdown">
          <i class="fas fa-shopping-cart fa-2x"></i><sub id="clickme">0</sub>
          <span class="caret "></span>
      </button>
      
      <ul class="dropdown-menu">
        <!-- <li class="ml-3" id="item">Item</li>   -->
        <span class="empty">Your cart is empty.</span>
  
        <li class="ml-2" id="item">
  
          <a href="#">
           <span class="product"></span><span class="selectedPrice"></span> <img class="selectedImage">
          </a>
          <div class="number">
            <span class="minus">-</span>
            <input type="text" value="1" name="numberOfProducts" class="input">
            <span class="plus">+</span>
          </div>
          
         </li>
         
        <span id="total"></span><span id="cost"></span>
        <div class="button">
            <button class="btn place" data-toggle="modal" data-target="#form">Place order</button>
          </div>
      </ul>
  
    </div>
  
    <div class="donate-sm mt-5">
      <h2><span>$</span> Donate <i class="fas fa-angle-down downarrow"></i></h2>
    </div>
      <!-- <div class="sidenav">
        <h2>Donate Us</h2>
      </div> -->
      <div class="donate">
        <div class="donate-black">
          <h2><span>$</span> Donate<span class="closedonation"><i class="fas fa-times"></i></span></h2>
          <p>Your contribution is vital to the success of our initiative.</p>
        </div>
        <div class="donate-blue">
          <h3>Donation amount*</h3>
          <div class="donate-amount-box">
            <div class="donate-amount">
              <div class="denomination selected">
                <input autocomplete="off" type="radio" name="amount" id="amount5" value="5" checked="">
                <label for="amount5">₹5</label>
              </div>
              <div class="denomination">
                <input autocomplete="off" type="radio" name="amount" id="amount10" value="10">
                <label for="amount10">₹10</label>
              </div>
              <div class="denomination">
                <input autocomplete="off" type="radio" name="amount" id="amount15" value="15">
                <label for="amount15">₹15</label>
              </div>
              <div class="denomination">
                <input autocomplete="off" type="radio" name="amount" id="amount25" value="25">
                <label for="amount25">₹25</label>
              </div>
              <div class="denomination">
                <input autocomplete="off" type="radio" name="amount" id="amount50" value="50">
                <label for="amount50">₹50</label>
              </div>
              <div class="denomination">
                <input autocomplete="off" type="radio" name="amount" id="amount100" value="100">
                <label for="amount100">₹100</label>
              </div>
            </div>
            <div class="denomination-other">
                <input autocomplete="off" type="text" name="amount" value="" placeholder="Enter Other Amount">
              </div>
          </div>
  
        </div>
        <div class="donate-blue donate-payment">
          <div class="donate-submit">
            <button type="submit" autocomplete="off" class="buttonDonate" data-toggle="modal" data-target="#form2">Donate ₹5</button>
            <p><small>Please note that contributions are not tax-deductible.</small></p>
          </div>
        </div>
      </div>
  
  
      <!-- card layout  -->
      <div class="container">
          <div class="row">
                <!--col-xl-4 col-lg-4 col-md-9 col-sm-12  -->
              <div class=" col-xl-4 col-lg-4 col-md-6 col-sm-6 col-xs-3 d-flex justify-content-center ">
                  <div class="card">
                      <div class="imgBox">
                          <img src="images/nike101.png" alt="">
                      </div>
                      <div class="contentBx">
                          <h3 class="productName">Item1</h3>
                          <h2 class="price">₹<span class="productPrice">450</span></h2>
                          <a href="#" class="buy" title="Add to my cart!">Buy Now</a>
                          <a href="#" class="remove" title="Remove from my cart!">Remove</a>
                      </div>
                      <div class="inside">
                        <div class="icon"><i class="material-icons">info_outline</i></div>
                        <div class="contents">
                          <h2>Description:</h2>
                          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                             Dignissimos repellendus excepturi quia omnis, numquam maiores ut?
                              Laborum, id sint. Expedita.</p>
                        </div>
                      </div>
                  </div>
              </div>     
              <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-xs-3 d-flex justify-content-center ">
                <div class="card">
                    <div class="imgBox">
                        <img src="images/nike101.png" alt="">
                    </div>
                    <div class="contentBx">
                        <h3 class="productName">Item1</h3>
                        <h2 class="price">₹<span class="productPrice">450</span></h2>
                        <a href="#" class="buy" title="Add to my cart!">Buy Now</a>
                        <a href="#" class="remove" title="Remove from my cart!">Remove</a>
                    </div>
                    <div class="inside">
                      <div class="icon"><i class="material-icons">info_outline</i></div>
                      <div class="contents">
                        <h2>Description:</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                           Dignissimos repellendus excepturi quia omnis, numquam maiores ut?
                            Laborum, id sint. Expedita.</p>
                      </div>
                    </div>
                </div>
            </div>              
          </div>
      </div>
     </section>

<section id="store">
  <div class="modal fade opacity-animate" id="form" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content text-center">
        <div class="modal-header border-bottom-0 ">
          <h2 class="modal-title" id="exampleModalLabel">Details</h2>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form>
          <div class="modal-body">
            <div class="form-group">
              <label for="name">Name<sup class="text-danger">*</sup></label>
              <input type="text" class="form-control" placeholder="Enter your name" required>
            </div>
            <div class="form-group">
              <label for="email1">Email address<sup class="text-danger">*</sup></label>
              <input type="email" class="form-control" id="email1" aria-describedby="emailHelp" placeholder="Enter your email" required>
              <small id="emailHelp" class="form-text text-muted">Your information is safe with us.</small>
            </div>
           
            <div class="form-group">
              <label for="address">Address<sup class="text-danger">*</sup></label>
              <input type="text" class="form-control" placeholder="Enter your address" required>
            </div>
            <div class="form-group">
              <label for="phone">Phone no.<sup class="text-danger">*</sup></label>
              <input type="text" class="form-control" placeholder="Enter your phone no." required>
            </div>
          </div>
          <div class="modal-footer border-top-0 d-flex justify-content-center">
            <button class="btn btn-danger" data-dismiss="modal" aria-label="Close">Cancel</button>
            <button type="submit" class="btn btn-primary">Proceed</button>
          </div>
        </form>
      </div>
    </div>
  </div>

<section id="store">
  <div class="modal fade opacity-animate" id="form" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content text-center">
        <div class="modal-header border-bottom-0 ">
          <h2 class="modal-title" id="exampleModalLabel">Details</h2>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form>
          <div class="modal-body">
            <div class="form-group">
              <label for="name">Name<sup class="text-danger">*</sup></label>
              <input type="text" class="form-control" placeholder="Enter your name" required>
            </div>
            <div class="form-group">
              <label for="email1">Email address<sup class="text-danger">*</sup></label>
              <input type="email" class="form-control" id="email1" aria-describedby="emailHelp" placeholder="Enter your email" required>
              <small id="emailHelp" class="form-text text-muted">Your information is safe with us.</small>
            </div>
           
            <div class="form-group">
              <label for="address">Address<sup class="text-danger">*</sup></label>
              <input type="text" class="form-control" placeholder="Enter your address" required>
            </div>
            <div class="form-group">
              <label for="phone">Phone no.<sup class="text-danger">*</sup></label>
              <input type="text" class="form-control" placeholder="Enter your phone no." required>
            </div>
          </div>
          <div class="modal-footer border-top-0 d-flex justify-content-center">
            <button class="btn btn-danger" data-dismiss="modal" aria-label="Close">Cancel</button>
            <button type="submit" class="btn btn-primary">Proceed</button>
          </div>
        </form>
      </div>
    </div>
  </div>

<section id="store">
    <div class="modal fade opacity-animate" id="form" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content text-center">
          <div class="modal-header border-bottom-0 ">
            <h2 class="modal-title" id="exampleModalLabel">Details</h2>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form>
            <div class="modal-body">
              <div class="form-group">
                <label for="name">Name<sup class="text-danger">*</sup></label>
                <input type="text" class="form-control" placeholder="Enter your name" required>
              </div>
              <div class="form-group">
                <label for="email1">Email address<sup class="text-danger">*</sup></label>
                <input type="email" class="form-control" id="email1" aria-describedby="emailHelp" placeholder="Enter your email" required>
                <small id="emailHelp" class="form-text text-muted">Your information is safe with us.</small>
              </div>
             
              <div class="form-group">
                <label for="address">Address<sup class="text-danger">*</sup></label>
                <input type="text" class="form-control" placeholder="Enter your address" required>
              </div>
              <div class="form-group">
                <label for="phone">Phone no.<sup class="text-danger">*</sup></label>
                <input type="text" class="form-control" placeholder="Enter your phone no." required>
              </div>
            </div>
            <div class="modal-footer border-top-0 d-flex justify-content-center">
              <button class="btn btn-danger" data-dismiss="modal" aria-label="Close">Cancel</button>
              <button type="submit" class="btn btn-primary">Proceed</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  
    <div class="modal fade opacity-animate" id="form2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content text-center">
          <div class="modal-header border-bottom-0 ">
            <h2 class="modal-title" id="exampleModalLabel">Details</h2>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form>
            <div class="modal-body">
              <div class="form-group">
                <label for="name">Name<sup class="text-danger">*</sup> </label>
                <input type="text" class="form-control" placeholder="Enter your name" required>
              </div>
              <div class="form-group">
                <label for="email1">Email address</label>
                <input type="email" class="form-control" id="email1" aria-describedby="emailHelp" placeholder="Enter your email">
                <small id="emailHelp" class="form-text text-muted"><small>*optional</small></small>
              </div>
              <div class="form-group">
                <label for="text">Comment</label>
                <textarea class="form-control" rows="3" id="comment"></textarea>
              </div>  
            </div>
            <div class="modal-footer border-top-0 d-flex justify-content-center">
              <button class="btn btn-danger" data-dismiss="modal" aria-label="Close">Cancel</button>
              <button type="submit" class="btn btn-success">Proceed</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  
    <div class="dropdown text-left m-5 cart">
      <button class="btn btn-cart" type="button" data-toggle="dropdown">
          <i class="fas fa-shopping-cart fa-2x"></i><sub id="clickme">0</sub>
          <span class="caret "></span>
      </button>
      
      <ul class="dropdown-menu">
        <!-- <li class="ml-3" id="item">Item</li>   -->
        <span class="empty">Your cart is empty.</span>
  
        <li class="ml-2" id="item">
  
          <a href="#">
           <span class="product"></span><span class="selectedPrice"></span> <img class="selectedImage">
          </a>
          <div class="number">
            <span class="minus">-</span>
            <input type="text" value="1" name="numberOfProducts" class="input">
            <span class="plus">+</span>
          </div>
          
         </li>
         
        <span id="total"></span><span id="cost"></span>
        <div class="button">
            <button class="btn place" data-toggle="modal" data-target="#form">Place order</button>
          </div>
      </ul>
  
    </div>
  
    <div class="donate-sm mt-5">
      <h2><span>$</span> Donate <i class="fas fa-angle-down downarrow"></i></h2>
    </div>
      <!-- <div class="sidenav">
        <h2>Donate Us</h2>
      </div> -->
      <div class="donate">
        <div class="donate-black">
          <h2><span>$</span> Donate<span class="closedonation"><i class="fas fa-times"></i></span></h2>
          <p>Your contribution is vital to the success of our initiative.</p>
        </div>
        <div class="donate-blue">
          <h3>Donation amount*</h3>
          <div class="donate-amount-box">
            <div class="donate-amount">
              <div class="denomination selected">
                <input autocomplete="off" type="radio" name="amount" id="amount5" value="5" checked="">
                <label for="amount5">₹5</label>
              </div>
              <div class="denomination">
                <input autocomplete="off" type="radio" name="amount" id="amount10" value="10">
                <label for="amount10">₹10</label>
              </div>
              <div class="denomination">
                <input autocomplete="off" type="radio" name="amount" id="amount15" value="15">
                <label for="amount15">₹15</label>
              </div>
              <div class="denomination">
                <input autocomplete="off" type="radio" name="amount" id="amount25" value="25">
                <label for="amount25">₹25</label>
              </div>
              <div class="denomination">
                <input autocomplete="off" type="radio" name="amount" id="amount50" value="50">
                <label for="amount50">₹50</label>
              </div>
              <div class="denomination">
                <input autocomplete="off" type="radio" name="amount" id="amount100" value="100">
                <label for="amount100">₹100</label>
              </div>
            </div>
            <div class="denomination-other">
                <input autocomplete="off" type="text" name="amount" value="" placeholder="Enter Other Amount">
              </div>
          </div>
  
        </div>
        <div class="donate-blue donate-payment">
          <div class="donate-submit">
            <button type="submit" autocomplete="off" class="buttonDonate" data-toggle="modal" data-target="#form2">Donate ₹5</button>
            <p><small>Please note that contributions are not tax-deductible.</small></p>
          </div>
        </div>
      </div>
  
  
      <!-- card layout  -->
      <div class="container">
          <div class="row">
                <!--col-xl-4 col-lg-4 col-md-9 col-sm-12  -->
              <div class=" col-xl-4 col-lg-4 col-md-6 col-sm-6 col-xs-3 d-flex justify-content-center ">
                  <div class="card">
                      <div class="imgBox">
                          <img src="images/nike101.png" alt="">
                      </div>
                      <div class="contentBx">
                          <h3 class="productName">Item1</h3>
                          <h2 class="price">₹<span class="productPrice">450</span></h2>
                          <a href="#" class="buy" title="Add to my cart!">Buy Now</a>
                          <a href="#" class="remove" title="Remove from my cart!">Remove</a>
                      </div>
                      <div class="inside">
                        <div class="icon"><i class="material-icons">info_outline</i></div>
                        <div class="contents">
                          <h2>Description:</h2>
                          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                             Dignissimos repellendus excepturi quia omnis, numquam maiores ut?
                              Laborum, id sint. Expedita.</p>
                        </div>
                      </div>
                  </div>
              </div>     
              <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-xs-3 d-flex justify-content-center ">
                <div class="card">
                    <div class="imgBox">
                        <img src="images/nike101.png" alt="">
                    </div>
                    <div class="contentBx">
                        <h3 class="productName">Item2</h3>
                        <h2 class="price">₹<span class="productPrice">250</span></h2>
                        <a href="#" class="buy" title="Add to my cart!">Buy Now</a>
                        <a href="#" class="remove" title="Remove from my cart!">Remove</a>
                    </div>
                    <div class="inside">
                      <div class="icon"><i class="material-icons">info_outline</i></div>
                      <div class="contents">
                        <h2>Description:</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                           Dignissimos repellendus excepturi quia omnis, numquam maiores ut?
                            Laborum, id sint. Expedita.</p>
                      </div>
                    </div>
                </div>
            </div>              
          </div>
      </div>
     </section>

<%- include("partials/footer") %>