<%- include("partials/header") %>

<section class="team" id="team">
  <div class="col-lg-12 col-md-12 col-sm-12 team-main-section">
    <div class="row">
      <div class="col-lg-8 mx-auto">
          <p class="page-heading"><a class="blue">A Team Above All & Above All A Team</a></p>
      </div>
    </div> 
</div>
<br><br>
<div class="background-div">
<div class="card">
  <div class="text-center" class="card-body">
    <img src="https://source.unsplash.com/user/erondu/300x275" alt="img" id="team-pic" class="img-fluid mb-3">
    <h3>Alex Mercer</h3>
    <h5>Faculty Advisor</h5>
  </div>
</div>
</div>
</div>
</div>

<div id="single-card" class="row">
  <div class="book">
    <div class="cover">
      <h2>LEADS</h2>
    </div>
    </div>
  </div>

  
  <div class="top-label">
    <h2>LEADS</h2>
  </div>


  <div class="background-div-1">
<div id="first-team-row" class="team-row"  class="row">
<div class="col-lg-3 col-md-6 col-sm-6">
  <div class="card">
    <div class="text-center" class="card-body">
      <img src="https://source.unsplash.com/user/erondu/300x275" alt="img" id="team-pic" class="img-fluid mb-3">
      <h3>Susobhan Biswas</h3>
      <h5>Team Manager</h5>
      <div  class="d-flex flex-row justify-content-center">
        <div class="team-icons py-2  px-4">
          <a href="#">
            <i class="fab fa-facebook"></i>
          </a>
        </div>
        <div class="team-icons py-2  px-4">
          <a href="#">
            <i class="fab fa-instagram">
            </i>
          </a>
        </div>
        <div class="team-icons py-2  px-4">
          <a href="#">
            <i class="fab fa-linkedin"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card">
      <div class="text-center" class="card-body">
        <img src="https://source.unsplash.com/user/erondu/300x275" alt="" id="team-pic" class="img-fluid mb-3">
        <h3>Avishek Bhattacharjee</h3>
        <h5>Team Captain</h5>
        <div  class="d-flex flex-row justify-content-center">
          <div class="team-icons py-2  px-4">
            <a href="#">
              <i class="fab fa-facebook"></i>
            </a>
          </div>
          <div class="team-icons py-2  px-4">
            <a href="#">
              <i class="fab fa-instagram">
              </i>
            </a>
          </div>
          <div class="team-icons py-2  px-4">
            <a href="#">
              <i class="fab fa-linkedin"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card">
      <div class="text-center" class="card-body">
        <img src="https://source.unsplash.com/user/erondu/300x275" alt="" id="team-pic" class="img-fluid   mb-3">
        <h3>Rohan Gupta</h3>
        <h5>Team Vice Captain</h5>
        <div  class="d-flex flex-row justify-content-center">
          <div class="team-icons py-2  px-4">
            <a href="#">
              <i class="fab fa-facebook"></i>
            </a>
          </div>
          <div class="team-icons py-2  px-4">
            <a href="#">
              <i class="fab fa-instagram">
              </i>
            </a>
          </div>
          <div class="team-icons py-2  px-4">
            <a href="#">
              <i class="fab fa-linkedin"></i>
            </a>
          </div>
        </div>
      </div>
    </div>

</div>
</div>
</div>

<div id="single-card" class="row">
  <div class="book">
    <div class="cover-2">
      <h2>MECHANICAL</h2>
    </div>
    </div>
  </div>

    
  <div class="top-label-2">
    <h2>MECHANICAL</h2>
  </div>

<div class="background-div-2">
<div class="team-row"  class="row">
<div class="col-lg-3 col-md-6 col-sm-6">
  <div class="card">
    <div class="text-center" class="card-body">
      <img src="https://source.unsplash.com/user/erondu/300x275" alt="img" id="team-pic" class="img-fluid mb-3">
      <h3>Susobhan Biswas</h3>
      <h5>Team Captain</h5>
      <div  class="d-flex flex-row justify-content-center">
        <div class="team-icons py-2  px-4">
          <a href="#">
            <i class="fab fa-facebook"></i>
          </a>
        </div>
        <div class="team-icons py-2  px-4">
          <a href="#">
            <i class="fab fa-instagram">
            </i>
          </a>
        </div>
        <div class="team-icons py-2  px-4">
          <a href="#">
            <i class="fab fa-linkedin"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card">
      <div class="text-center" class="card-body">
        <img src="https://source.unsplash.com/user/erondu/300x275" alt="" id="team-pic" class="img-fluid mb-3">
        <h3>Avishek Bhattacharjee</h3>
        <h5>Coding Head</h5>
        <div  class="d-flex flex-row justify-content-center">
          <div class="team-icons py-2  px-4">
            <a href="#">
              <i class="fab fa-facebook"></i>
            </a>
          </div>
          <div class="team-icons py-2  px-4">
            <a href="#">
              <i class="fab fa-instagram">
              </i>
            </a>
          </div>
          <div class="team-icons py-2  px-4">
            <a href="#">
              <i class="fab fa-linkedin"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card">
      <div class="text-center" class="card-body">
        <img src="https://source.unsplash.com/user/erondu/300x275" alt="" id="team-pic" class="img-fluid   mb-3">
        <h3>Rohan Gupta</h3>
        <h5>Coding</h5>
        <div  class="d-flex flex-row justify-content-center">
          <div class="team-icons py-2  px-4">
            <a href="#">
              <i class="fab fa-facebook"></i>
            </a>
          </div>
          <div class="team-icons py-2  px-4">
            <a href="#">
              <i class="fab fa-instagram">
              </i>
            </a>
          </div>
          <div class="team-icons py-2  px-4">
            <a href="#">
              <i class="fab fa-linkedin"></i>
            </a>
          </div>
        </div>
      </div>
    </div>

</div>
</div>
</div>

<div id="single-card" class="row">
  <div class="book">
    <div class="cover-3">
      <h2>ELECTRICAL</h2>
    </div>
    </div>
  </div>

    
  <div class="top-label-3">
    <h2>ELECTRICAL</h2>
  </div>

  <div class="background-div-3">
<div class="team-row"  class="row">
<div class="col-lg-3 col-md-6 col-sm-6">
  <div class="card">
    <div class="text-center" class="card-body">
      <img src="https://source.unsplash.com/user/erondu/300x275" alt="img" id="team-pic" class="img-fluid mb-3">
      <h3>Susobhan Biswas</h3>
      <h5>Team Captain</h5>
      <div  class="d-flex flex-row justify-content-center">
        <div class="team-icons py-2  px-4">
          <a href="#">
            <i class="fab fa-facebook"></i>
          </a>
        </div>
        <div class="team-icons py-2  px-4">
          <a href="#">
            <i class="fab fa-instagram">
            </i>
          </a>
        </div>
        <div class="team-icons py-2  px-4">
          <a href="#">
            <i class="fab fa-linkedin"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card">
      <div class="text-center" class="card-body">
        <img src="https://source.unsplash.com/user/erondu/300x275" alt="" id="team-pic" class="img-fluid mb-3">
        <h3>Avishek Bhattacharjee</h3>
        <h5>Coding Head</h5>
        <div  class="d-flex flex-row justify-content-center">
          <div class="team-icons py-2  px-4">
            <a href="#">
              <i class="fab fa-facebook"></i>
            </a>
          </div>
          <div class="team-icons py-2  px-4">
            <a href="#">
              <i class="fab fa-instagram">
              </i>
            </a>
          </div>
          <div class="team-icons py-2  px-4">
            <a href="#">
              <i class="fab fa-linkedin"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card">
      <div class="text-center" class="card-body">
        <img src="https://source.unsplash.com/user/erondu/300x275" alt="" id="team-pic" class="img-fluid   mb-3">
        <h3>Rohan Gupta</h3>
        <h5>Coding</h5>
        <div  class="d-flex flex-row justify-content-center">
          <div class="team-icons py-2  px-4">
            <a href="#">
              <i class="fab fa-facebook"></i>
            </a>
          </div>
          <div class="team-icons py-2  px-4">
            <a href="#">
              <i class="fab fa-instagram">
              </i>
            </a>
          </div>
          <div class="team-icons py-2  px-4">
            <a href="#">
              <i class="fab fa-linkedin"></i>
            </a>
          </div>
        </div>
      </div>
    </div>

</div>
</div>
</div>


<div class="background-div-4">
<div id="final-card" class="row">
<div class="card">
  <div class="text-center" class="card-body">
    <img src="https://source.unsplash.com/user/erondu/300x275" alt="img" id="team-pic" class="img-fluid mb-3">
    <h3>Susobhan Biswas</h3>
    <h5>Team Captain</h5>
    <div  class="d-flex flex-row justify-content-center">
      <div class="team-icons py-2  px-4">
        <a href="#">
          <i class="fab fa-facebook"></i>
        </a>
      </div>
      <div class="team-icons py-2  px-4">
        <a href="#">
          <i class="fab fa-instagram">
          </i>
        </a>
      </div>
      <div class="team-icons py-2  px-4">
        <a href="#">
          <i class="fab fa-linkedin"></i>
        </a>
      </div>
    </div>
  </div>
</div>
</div>
</div?>

</section>

<%- include("partials/footer") %>