<%- include("partials/header") %>

<section class="team" id="team">
  <div class="col-lg-12 col-md-12 col-sm-12 team-main-section">
    <div class="row">
      <div class="col-lg-8 mx-auto">
          <p class="page-heading"><a class="blue">A Team Above All & Above All A Team</a></p>
      </div>
    </div> 
  <p class="team-descript">AutoCreed Racing is a motorsports racing team that engineers a league of designing & fabricating electric go-karts at the national level. We are a passionate group of individuals that pride ourselves on being an inclusive group emphasizing education and knowledge transfer as well as performance.</p>
</div>

<div id="single-card" class="row">
<div class="card">
  <div class="text-center" class="card-body">
    <img src="https://source.unsplash.com/user/erondu/300x275" alt="img" id="team-pic" class="img-fluid mb-3">
    <h3>Alex Mercer</h3>
    <h5>Faculty Advisor</h5>
    <p>Gentek | New York</p>
    <div  class="d-flex flex-row justify-content-center">
      <div class="team-icons py-2  px-4">
        <a href="#">
          <i class="fab fa-facebook"></i>
        </a>
      </div>
      <div class="team-icons py-2  px-4">
        <a href="#">
          <i class="fab fa-twitter">
          </i>
        </a>
      </div>
      <div class="team-icons py-2  px-4">
        <a href="#">
          <i class="fab fa-instagram"></i>
        </a>
      </div>
    </div>
  </div>
</div>
</div>
</div>

<div id="first-team-row" class="team-row"  class="row">
<div class="col-lg-3 col-md-6 col-sm-6">
  <div class="card">
    <div class="text-center" class="card-body">
      <img src="https://source.unsplash.com/user/erondu/300x275" alt="img" id="team-pic" class="img-fluid mb-3">
      <h3>Susobhan Biswas</h3>
      <h5>Team Manager</h5>
      <p>Steering | Mechanical</p>
      <div  class="d-flex flex-row justify-content-center">
        <div class="team-icons py-2  px-4">
          <a href="#">
            <i class="fab fa-facebook"></i>
          </a>
        </div>
        <div class="team-icons  py-2 px-4">
          <a href="#">
            <i class="fab fa-twitter">

            </i>
          </a>
        </div>
        <div class="team-icons py-2  px-4">
          <a href="#">
            <i class="fab fa-instagram"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card">
      <div class="text-center" class="card-body">
        <img src="https://source.unsplash.com/user/erondu/300x275" alt="" id="team-pic" class="img-fluid mb-3">
        <h3>Avishek Bhattacharjee</h3>
        <h5>Team Captain</h5>
        <p>Lorem Lorem</p>
        <div class="d-flex flex-row justify-content-center">
          <div class=" team-icons py-2  px-4">
            <a href="#">
            <i class="fab fa-facebook"></i>
            </a>
          </div>
          <div class="team-icons py-2  px-4">
            <a href="#">
              <i class="fab fa-twitter"></i>
            </a>
          </div>
          <div class="team-icons py-2  px-4">
            <a href="#">
              <i class="fab fa-instagram"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card">
      <div class="text-center" class="card-body">
        <img src="https://source.unsplash.com/user/erondu/300x275" alt="" id="team-pic" class="img-fluid   mb-3">
        <h3>Rohan Gupta</h3>
        <h5>Team Vice Captain</h5>
        <p>Lorem Lorem</p>
        <div class="d-flex flex-row justify-content-center">
          <div class="team-icons py-2  px-4">
            <a href="#">
            <i class="fab fa-facebook"></i>
            </a>
          </div>
          <div class="team-icons  py-2 px-4">
            <a href="#">
              <i class="fab fa-twitter"></i>
            </a>
          </div>
          <div class="team-icons py-2  px-4">
            <a href="#">
              <i class="fab fa-instagram"></i>
            </a>
          </div>
        </div>
      </div>
    </div>

</div>
</div>

<div class="team-row"  class="row">
<div class="col-lg-3 col-md-6 col-sm-6">
  <div class="card">
    <div class="text-center" class="card-body">
      <img src="https://source.unsplash.com/user/erondu/300x275" alt="img" id="team-pic" class="img-fluid mb-3">
      <h3>Susobhan Biswas</h3>
      <h5>Team Captain</h5>
      <p>Steering | Mechanical</p>
      <div class="d-flex flex-row justify-content-center">
        <div class="team-icons py-2  px-4">
          <a href="#">
            <i class="fab fa-facebook"></i>
          </a>
        </div>
        <div class="team-icons py-2  px-4">
          <a href="#">
            <i class="fab fa-twitter">

            </i>
          </a>
        </div>
        <div class="team-icons py-2  px-4">
          <a href="#">
            <i class="fab fa-instagram"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card">
      <div class="text-center" class="card-body">
        <img src="https://source.unsplash.com/user/erondu/300x275" alt="" id="team-pic" class="img-fluid mb-3">
        <h3>Avishek Bhattacharjee</h3>
        <h5>Coding Head</h5>
        <p>Lorem Lorem</p>
        <div class="d-flex flex-row justify-content-center">
          <div class=" team-icons py-2  px-4">
            <a href="#">
            <i class="fab fa-facebook"></i>
            </a>
          </div>
          <div class="team-icons py-2  px-4">
            <a href="#">
              <i class="fab fa-twitter"></i>
            </a>
          </div>
          <div class="team-icons py-2  px-4">
            <a href="#">
              <i class="fab fa-instagram"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card">
      <div class="text-center" class="card-body">
        <img src="https://source.unsplash.com/user/erondu/300x275" alt="" id="team-pic" class="img-fluid   mb-3">
        <h3>Rohan Gupta</h3>
        <h5>Coding</h5>
        <p>Lorem Lorem</p>
        <div class="d-flex flex-row justify-content-center">
          <div class="team-icons py-2  px-4">
            <a href="#">
            <i class="fab fa-facebook"></i>
            </a>
          </div>
          <div class="team-icons py-2  px-4">
            <a href="#">
              <i class="fab fa-twitter"></i>
            </a>
          </div>
          <div class="team-icons py-2  px-4">
            <a href="#">
              <i class="fab fa-instagram"></i>
            </a>
          </div>
        </div>
      </div>
    </div>

</div>
</div>

<div class="team-row"  class="row">
<div class="col-lg-3 col-md-6 col-sm-6">
  <div class="card">
    <div class="text-center" class="card-body">
      <img src="https://source.unsplash.com/user/erondu/300x275" alt="img" id="team-pic" class="img-fluid mb-3">
      <h3>Susobhan Biswas</h3>
      <h5>Team Captain</h5>
      <p>Steering | Mechanical</p>
      <div class="d-flex flex-row justify-content-center">
        <div class="team-icons py-2  px-4">
          <a href="#">
            <i class="fab fa-facebook"></i>
          </a>
        </div>
        <div class="team-icons  py-2 px-4">
          <a href="#">
            <i class="fab fa-twitter">

            </i>
          </a>
        </div>
        <div class="team-icons py-2  px-4">
          <a href="#">
            <i class="fab fa-instagram"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card">
      <div class="text-center" class="card-body">
        <img src="https://source.unsplash.com/user/erondu/300x275" alt="" id="team-pic" class="img-fluid mb-3">
        <h3>Avishek Bhattacharjee</h3>
        <h5>Coding Head</h5>
        <p>Lorem Lorem</p>
        <div class="d-flex flex-row justify-content-center">
          <div class=" team-icons  py-2 px-4">
            <a href="#">
            <i class="fab fa-facebook"></i>
            </a>
          </div>
          <div class="team-icons py-2  px-4">
            <a href="#">
              <i class="fab fa-twitter"></i>
            </a>
          </div>
          <div class="team-icons py-2  px-4">
            <a href="#">
              <i class="fab fa-instagram"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card">
      <div class="text-center" class="card-body">
        <img src="https://source.unsplash.com/user/erondu/300x275" alt="" id="team-pic" class="img-fluid   mb-3">
        <h3>Rohan Gupta</h3>
        <h5>Coding</h5>
        <p>Lorem Lorem</p>
        <div class="d-flex flex-row justify-content-center">
          <div class="team-icons py-2  px-4">
            <a href="#">
            <i class="fab fa-facebook"></i>
            </a>
          </div>
          <div class="team-icons py-2  px-4">
            <a href="#">
              <i class="fab fa-twitter"></i>
            </a>
          </div>
          <div class="team-icons  py-2 px-4">
            <a href="#">
              <i class="fab fa-instagram"></i>
            </a>
          </div>
        </div>
      </div>
    </div>

</div>
</div>

<div id="final-card" class="row">
<div class="card">
  <div class="text-center" class="card-body">
    <img src="https://source.unsplash.com/user/erondu/300x275" alt="img" id="team-pic" class="img-fluid mb-3">
    <h3>Susobhan Biswas</h3>
    <h5>Team Captain</h5>
    <p>Steering | Mechanical</p>
    <div  class="mb-5 d-flex flex-row justify-content-center">
      <div class="team-icons py-2 px-4">
        <a href="#">
          <i class="fab fa-facebook"></i>
        </a>
      </div>
      <div class="team-icons py-2 px-4">
        <a href="#">
          <i class="fab fa-twitter">

          </i>
        </a>
      </div>
      <div class="team-icons py-2 px-4">
        <a href="#">
          <i class="fab fa-instagram"></i>
        </a>
      </div>
    </div>
  </div>
</div>
</div>
</div>


</section>

<%- include("partials/footer") %>