<%- include("partials/header") %>

<div id="teamWrapper">
    <div class="container">
        <div id="aboutUs">
            <h1 class="heading">Meet the Team</h1>
            <div id="aboutUsText">
                Get to know the team behind Autocreed Racing. Behind every successful venture, there’s a talented group of special people who are highly committed to that success. Team Autocreed Racing works on fabricating electric racing go-karts. Electric vehicles
                are the future and aim for sustainable development. AutoCreed Racing is a venture started in SRM Institute of Science and Technology in the year 2015. It is home to the first Electric Go-Kart of the University. We symbolize an incubation
                center for all the students of SRM Institute of Science and Technology who are passionate towards machines that burn rubber with speed; embolden their minds. By developing our skill-set , we aim to achieve our motto of
                <span> "A Team Above All and Above All a Team." </span> Read all about the team and feel free to get in touch!
            </div>
        </div>
    </div>
    <div class="container">
        <div id="images">
            <div id="faculty">
                <span><img src="https://img.icons8.com/officel/2x/person-male.png" alt=""><br>Example Person<br>Faculty Advisor</span>
            </div>
            <div id="lead">
                <span><img src="https://img.icons8.com/officel/2x/person-male.png" alt=""><br>Example Person<br>Team Lead</span>
            </div>
            <div id="teamPhotos">
                <div class="row">
                    <div class="column">
                        <span><img src="https://img.icons8.com/officel/2x/person-male.png" alt=""><br>Example Person<br>Domain Leads</span>
                    </div>
                    <div class="column">
                        <span><img src="https://img.icons8.com/officel/2x/person-female.png" alt=""><br>Example Person<br>Domain Leads</span>
                    </div>
                    <div class="column">
                        <span><img src="https://img.icons8.com/officel/2x/person-male.png" alt=""><br>Example Person<br>Domain Leads</span>
                    </div>
                </div>
                <div class="row">
                    <div class="column">
                        <span><img src="https://img.icons8.com/officel/2x/person-female.png" alt=""><br>Example Person<br>Domain Leads</span>
                    </div>
                    <div class="column">
                        <span><img src="https://img.icons8.com/officel/2x/person-male.png" alt=""><br>Example Person<br>Domain Leads</span>
                    </div>
                    <div class="column">
                        <span><img src="https://img.icons8.com/officel/2x/person-female.png" alt=""><br>Example Person<br>Domain Leads</span>
                    </div>
                </div>
                <div class="row">
                    <div class="column">
                        <span><img src="https://img.icons8.com/officel/2x/person-male.png" alt=""><br>Example Person<br>Domain Leads</span>
                    </div>
                    <div class="column">
                        <span><img src="https://img.icons8.com/officel/2x/person-female.png" alt=""><br>Example Person<br>Domain Leads</span>
                    </div>
                    <div class="column">
                        <span><img src="https://img.icons8.com/officel/2x/person-male.png" alt=""><br>Example Person<br>Domain Leads</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include("partials/footer") %>