<%- include("partials/header") %>

<section class="team" id="team">
  <div class="container">
    <h1 class="heading">TEAM MEMBERS</h1>
  
  <div class="background-div">
  <div class="card">
    <div class="text-center" class="card-body">
    <!--../Team-Images/Faculty.png-->
      <img src="/images/Team-Images/Faculty.png" alt="Faculty Img" id="team-pic" class="img-fluid mb-3">
      <h5 id="team-name">S. M. Vignesh</h5>
      <h5 id="team-role">Faculty Advisor</h5>
    </div>
  </div>
  </div>

  <div id="single-card" class="row">
    <div class="book">
      <div class="cover">
        <h2>LEADS</h2>
      </div>
      </div>
    </div>

    <div class="top-label">
      <h2>LEADS</h2>
    </div>


    <div class="background-div-1">
  <div id="first-team-row" class="team-row"  class="row">
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div id="third-card" class="card">
        <div class="text-center" class="card-body">
          <img src="/images/Team-Images/Aditi.jpg" alt="img" id="team-pic" class="img-fluid   mb-3">
          <h5 id="team-name">Aditi Gupta</h5>
          <h5 id="team-role">Manager</h5>
          <h5 id="team-role">Senior Engineer</h5>
        </div>
      </div>

  </div>
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card">
      <div class="text-center" class="card-body">
        <img src="/images/Team-Images/sp.jpg" alt="img" id="team-pic" class="img-fluid mb-3">
        <h5 id="team-name">Sai Prasadh</h5>
        <h5 id="team-role">Captain</h5>
        <h5 id="team-role">Senior Engineer</h5>
      </div>
    </div>
  </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="card">
        <div class="text-center" class="card-body">
          <img src="/images/Team-Images/nadhan.jpg" alt="img" id="team-pic" class="img-fluid mb-3">
          <h5 id="team-name">Nandan Harish</h5>
          <h5 id="team-role">Vice Captain</h5>
          <h5 id="team-role">Senior Engineer</h5>
        </div>
      </div>
    </div>

    

  </div>
  </div>
  <br>


      
  <div class="top-label-2">
    <h2>MECHANICAL</h2>
  </div>


  <div class="background-div-2">
    <div id="sub-label">
      <h4>transmission</h4>
    </div>
    <div class="team-row"  class="row">
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="card">
        <div class="text-center" class="card-body">
          <img src="/images/Team-Images/Chirag.jpg" alt="img" id="team-pic" class="img-fluid mb-3">
          <h5 id="team-name">Chirag Jhaveri</h5>
          <h5 id="team-role">Head</h5>
          <h5 id="team-role">Senior Engineer</h5>
        </div>
      </div>
    </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card">
          <div class="text-center" class="card-body">
            <img src="/images/Team-Images/rakesh.jpg" alt="img" id="team-pic" class="img-fluid mb-3">
            <h5 id="team-name">Baikani Rakesh</h5>
            <h5 id="team-role">Junior Engineer</h5>
            <h5 id="team-role" style="color:black">.</h5>
          </div>
        </div>
      </div>
    
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div id="third-card" class="card">
          <div class="text-center" class="card-body">
            <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png" alt="img" id="team-pic" class="img-fluid   mb-3">
            <h5 id="team-name">Rohan Gupta</h5>
            <h5 id="team-role">Senior Engineer</h5>
            <h5 id="team-role" style="color:black">.</h5>
          </div>
        </div>
    </div>

    </div>
    </div>

  <div id="single-card" class="row">
    <div class="book">
      <div class="cover-2">
        <h2>MECHANICAL</h2>
      </div>
      </div>
    </div>


  <div class="background-div-2">
    <div id="sub-label">
      <h4>chassis</h4>
    </div>
  <div class="team-row"  class="row">
    

    <div class="col-lg-3 col-md-6 col-sm-6">
      <div id="third-card" class="card">
        <div class="text-center" class="card-body">
          <img src="/images/Team-Images/raj.jpg" alt="img" id="team-pic" class="img-fluid   mb-3">
          <h5 id="team-name">Raj Shekar Rao</h5>
          <h5 id="team-role">Junior Engineer</h5>
          <h5 id="team-role" style="color:black">.</h5>
        </div>
      </div>

  </div>

  </div>
  </div>
  <br>
  <div class="background-div-2">
    <div id="sub-label">
      <h4>brakes</h4>
    </div>
    <div class="team-row"  class="row">
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="card">
        <div class="text-center" class="card-body">
          <img src="/images/Team-Images/saagar.jpg" alt="img" id="team-pic" class="img-fluid mb-3">
          <h5 id="team-name">Saagar Chandramohan</h5>
          <h5 id="team-role">Head</h5>
          <h5 id="team-role">Senior Engineer</h5>
        </div>
      </div>
    </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card">
          <div class="text-center" class="card-body">
            <img src="/images/Team-Images/moni.jpg" alt="img" id="team-pic" class="img-fluid mb-3">
            <h5 id="team-name">Sivareth</h5>
            <h5 id="team-role">Senior Engineer</h5>
            <h5 id="team-role" style="color:black">.</h5>
          </div>
        </div>
      </div>
    
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div id="third-card" class="card">
          <div class="text-center" class="card-body">
            <img src="/images/Team-Images/Shahid Rizwan.jpg" alt="img" id="team-pic" class="img-fluid   mb-3">
            <h5 id="team-name">Shahid Rizwan</h5>
            <h5 id="team-role">Junior Engineer</h5>
            <h5 id="team-role" style="color:black">.</h5>
          </div>
        </div>
    
    </div>

    </div>
    </div>

  <div id="single-card" class="row">
    <div class="book">
      <div class="cover-3">
        <h2>ELECTRICAL</h2>
      </div>
      </div>
    </div>

      
    <div class="top-label-3">
      <h2>ELECTRICAL</h2>
    </div>

    <div class="background-div-3">
  <div class="team-row"  class="row">
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card">
      <div class="text-center" class="card-body">
        <img src="/images/Team-Images/ghosh.jpg" alt="img" id="team-pic" class="img-fluid mb-3">
        <h5 id="team-name">Ekalavya Ghosh</h5>
        <h5 id="team-role">Head</h5>
        <h5 id="team-role">Senior Engineer</h5>
      </div>
    </div>
  </div>

    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="card">
        <div class="text-center" class="card-body">
          <img src="/images/Team-Images/suman.jpg" alt="img" id="team-pic" class="img-fluid mb-3">
          <h5 id="team-name">Suman Babu</h5>
          <h5 id="team-role">Senior Engineer</h5>
          <h5 id="team-role" style="color:black">.</h5>
        </div>
      </div>
    </div>

  </div>

  </div>
</div>
</section>

<%- include("partials/footer") %>