<%- include("partials/header") %>

<section class="team" id="team">
  <div class="container">
  <div class="col-lg-12 col-md-12 col-sm-12 team-main-section">
    <div class="row">
      <div class="col-lg-8 mx-auto">
          <p class="page-heading">TEAM MEMBERS</p>
      </div>
    </div> 
</div>
<br><br>
<div class="background-div">
<div class="card">
  <div class="text-center" class="card-body">
  <!--../Team-Images/Faculty.png-->
    <img src="/images/Faculty.png" alt="Faculty Img" id="team-pic" class="img-fluid mb-3">
    <h5>S. M. Vignesh</h5>
    <h5>Faculty Advisor</h5>
  </div>
</div>
</div>

<div id="single-card" class="row">
  <div class="book">
    <div class="cover">
      <h2>LEADS</h2>
    </div>
    </div>
  </div>

  <div class="top-label">
    <h2>LEADS</h2>
  </div>


  <div class="background-div-1">
<div id="first-team-row" class="team-row"  class="row">
<div class="col-lg-3 col-md-6 col-sm-6">
  <div class="card">
    <div class="text-center" class="card-body">
      <img src="../Team-Images/sp.jpg" alt="img" id="team-pic" class="img-fluid mb-3">
      <h5>Sai Prasadh</h5>
      <h5>Team Captain</h5>
    </div>
  </div>
</div>
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card">
      <div class="text-center" class="card-body">
        <img src="../Team-Images/nadhan.jpg" alt="img" id="team-pic" class="img-fluid mb-3">
        <h5>Nandan Harish</h5>
        <h5>Vice Captain</h5>
      </div>
    </div>
  </div>

  <div class="col-lg-3 col-md-6 col-sm-6">
    <div id="third-card" class="card">
      <div class="text-center" class="card-body">
        <img src="../Team-Images/Aditi.jpg" alt="img" id="team-pic" class="img-fluid   mb-3">
        <h5>Aditi Gupta</h5>
        <h5>Team Manager</h5>
      </div>
    </div>

</div>

<!-- <div class="col-lg-3 col-md-6 col-sm-6">
  <div class="card">
    <div class="text-center" class="card-body">
      <img src="https://source.unsplash.com/user/erondu/300x275" alt="" id="team-pic" class="img-fluid mb-3">
      <h5>Avishek Bhattacharjee</h5>
      <h5>Team Captain</h5>
    </div>
  </div>
</div> -->

</div>
</div>
<br>


    
<div class="top-label-2">
  <h2>MECHANICAL</h2>
</div>


<div class="background-div-2">
  <div id="sub-label">
    <h4>transmission</h4>
  </div>
  <div class="team-row"  class="row">
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card">
      <div class="text-center" class="card-body">
        <img src="../Team-Images/Chirag.jpg" alt="img" id="team-pic" class="img-fluid mb-3">
        <h5>Chirag Jhaveri</h5>
        <h5>Domain Head</h5>
      </div>
    </div>
  </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="card">
        <div class="text-center" class="card-body">
          <img src="../Team-Images/rakesh.jpg" alt="img" id="team-pic" class="img-fluid mb-3">
          <h5>Baikani Rakesh</h5>
          <!-- <h5>Sample Text</h5> -->
        </div>
      </div>
    </div>
  
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div id="third-card" class="card">
        <div class="text-center" class="card-body">
          <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png" alt="img" id="team-pic" class="img-fluid   mb-3">
          <h5>Rohan Gupta</h5>
          <!-- <h5>Sample Text</h5> -->
        </div>
      </div>
  </div>
  
  <!-- <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card">
      <div class="text-center" class="card-body">
        <img src="https://source.unsplash.com/user/erondu/300x275" alt="" id="team-pic" class="img-fluid mb-3">
        <h5>Avishek Bhattacharjee</h5>
        <h5>Team Captain</h5>
      </div>
    </div>
  </div> -->

  </div>
  </div>

<div id="single-card" class="row">
  <div class="book">
    <div class="cover-2">
      <h2>MECHANICAL</h2>
    </div>
    </div>
  </div>


<div class="background-div-2">
  <div id="sub-label">
    <h4>chassis</h4>
  </div>
<div class="team-row"  class="row">
<div class="col-lg-3 col-md-6 col-sm-6">
  <div class="card">
    <div class="text-center" class="card-body">
      <img src="../Team-Images/sp.jpg" alt="img" id="team-pic" class="img-fluid mb-3">
      <h5>Sai Prasadh</h5>
      <h5>Team Head</h5>
    </div>
  </div>
</div>
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card">
      <div class="text-center" class="card-body">
        <img src="../Team-Images/nadhan.jpg" alt="img" id="team-pic" class="img-fluid mb-3">
        <h5>Nandan Harish</h5>
        <h5>Design Head</h5>
      </div>
    </div>
  </div>

  <div class="col-lg-3 col-md-6 col-sm-6">
    <div id="third-card" class="card">
      <div class="text-center" class="card-body">
        <img src="../Team-Images/raj.jpg" alt="img" id="team-pic" class="img-fluid   mb-3">
        <h5>Raj Shekar Rao</h5>
        <!-- <h5>Sample Text</h5> -->
      </div>
    </div>

</div>

<!-- <div class="col-lg-3 col-md-6 col-sm-6">
  <div class="card">
    <div class="text-center" class="card-body">
      <img src="https://source.unsplash.com/user/erondu/300x275" alt="" id="team-pic" class="img-fluid mb-3">
      <h5>Avishek Bhattacharjee</h5>
      <h5>Team Captain</h5>
    </div>
  </div>
</div> -->

</div>
</div>
<br>
<div class="background-div-2">
  <div id="sub-label">
    <h4>brakes</h4>
  </div>
  <div class="team-row"  class="row">
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card">
      <div class="text-center" class="card-body">
        <img src="../Team-Images/saagar.jpg" alt="img" id="team-pic" class="img-fluid mb-3">
        <h5>Saagar Chandramohan</h5>
        <h5>Team Head</h5>
      </div>
    </div>
  </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="card">
        <div class="text-center" class="card-body">
          <img src="../Team-Images/moni.jpg" alt="img" id="team-pic" class="img-fluid mb-3">
          <h5>Sivareth</h5>
          <!-- <h5>Sample Text</h5> -->
        </div>
      </div>
    </div>
  
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div id="third-card" class="card">
        <div class="text-center" class="card-body">
          <img src="../Team-Images/Shahid Rizwan.jpg" alt="img" id="team-pic" class="img-fluid   mb-3">
          <h5>Shahid Rizwan</h5>
          <!-- <h5>Sample Text</h5> -->
        </div>
      </div>
  
  </div>
<!-- 
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card">
      <div class="text-center" class="card-body">
        <img src="https://source.unsplash.com/user/erondu/300x275" alt="" id="team-pic" class="img-fluid mb-3">
        <h5>Avishek Bhattacharjee</h5>
        <h5>Team Captain</h5>
      </div>
    </div>
  </div> -->

  </div>
  </div>

<div id="single-card" class="row">
  <div class="book">
    <div class="cover-3">
      <h2>ELECTRICAL</h2>
    </div>
    </div>
  </div>

    
  <div class="top-label-3">
    <h2>ELECTRICAL</h2>
  </div>

  <div class="background-div-3">
<div class="team-row"  class="row">
<div class="col-lg-3 col-md-6 col-sm-6">
  <div class="card">
    <div class="text-center" class="card-body">
      <img src="../Team-Images/ghosh.jpg" alt="img" id="team-pic" class="img-fluid mb-3">
      <h5>Ekalavya Ghosh</h5>
      <h5>Team Head</h5>
    </div>
  </div>
</div>

  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card">
      <div class="text-center" class="card-body">
        <img src="../Team-Images/suman.jpg" alt="img" id="team-pic" class="img-fluid mb-3">
        <h5>Suman Babu</h5>
        <!-- <h5>Sample Text</h5> -->
      </div>
    </div>
  </div>

  <!-- <div class="col-lg-3 col-md-6 col-sm-6">
    <div id="third-card" class="card">
      <div class="text-center" class="card-body">
        <img src="https://source.unsplash.com/user/erondu/300x275" alt="img" id="team-pic" class="img-fluid   mb-3">
        <h5>Rohan Gupta</h5>
      </div>
    </div> -->

</div>

<!-- <div class="col-lg-3 col-md-6 col-sm-6">
  <div class="card">
    <div class="text-center" class="card-body">
      <img src="https://source.unsplash.com/user/erondu/300x275" alt="" id="team-pic" class="img-fluid mb-3">
      <h5>Avishek Bhattacharjee</h5>
      <h5>Team Captain</h5>
    </div>
  </div>
</div> -->

</div>
</div>


<div class="background-div-4">
<div id="final-card" class="row">
<div class="card">
  <div class="text-center" class="card-body">
    <img src="../Team-Images/Aditi.jpg" alt="img" id="team-pic" class="img-fluid mb-3">
    <h5>Aditi Gupta</h5>
    <h5>Corporate</h5>
  </div>
</div>
</div>
</div>
</div>
</section>

<%- include("partials/footer") %>