body{
    background-color: aquamarine;
    background: #121213;
    background-image: radial-gradient(top, circle cover, #212122 0%, #181622 80%);
    background-attachment: fixed;
    background-image: url('https://wallpaperplay.com/walls/full/3/d/0/29078.jpg');
    letter-spacing: 0.0625em;

    /* height: 200vh; to check onscroll navbar bg change effect */
}
  
  #about {
    margin: 60px;
    margin-top: 120px;
    margin-bottom: 110px;
  }
  
  .about-section {
    padding-top: 2rem;
    background-color: black;
 
  }
  
  .about-section p {
    margin-bottom: 5rem;
  }
  
  #about a {
    color: #781c2e;
  }
  
  a:focus, a:hover {
    text-decoration: none;
    color: #3c6360;
  }
  
  .bg-black {
    background-color: #161616 !important;
  }
  
  #about .bg-primary {
    background-color: #781c2e !important;
  }
  
  #about .text-primary {
    color: #781c2e !important;
  }
  
  /* Headshots */
  
  figure {
    margin-top: 30px;
    
    position: relative;
    display: inline-block;
    border-radius: 100%;
    width: 180px;
    height: 180px;
    transition: all 250ms;
  
  }
  
  .one {
    position: relative;
    z-index: 1;
    height: 160px;
  
  }
  
  .one:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
    width: 180px;
    height: 180px;
    border-radius: 80rem;
    background-color: lightgrey;
    transform: scale(1);
    transition: all 250ms;
  }
  
  .one img {
    position: relative;
    display: inline-block;
    z-index: 1;
    overflow: hidden;
    width: 180px;
    border-radius: 8rem;
  }
  .one:hover:before {
    background-color: #af2a3c;
    transform: scale(1.1);
  }
  
  
  .headshottext{
    margin-top: 10px;
    padding-left: 10px;
  
  }
  
  .headshotgrade{
    margin-top: -5rem;
    font-size: 70%;
  }
  /*******************************ALUMNI PAGE STYLING ENDS**************************/
  
  /**********************************HEADING STYLING**************************************/
@font-face {
  font-family: 'Iceland';
  font-style: normal;
  font-weight: 400;
  src: local('Iceland'), local('Iceland-Regular'), url(http://themes.googleusercontent.com/static/fonts/iceland/v3/F6LYTZLHrG9BNYXRjU7RSw.woff) format('woff');
}

.heading{
  text-align:center;
  font-size:5em;
  font-family:Iceland;
  margin: 10px !important;
}
.blue{
  color: white !important;
 
}
a:hover{
  color: aqua !important;
}
@media screen and (max-width: 990px) {
  .heading{
    font-size: 40px;
  }
}








  /*********************************HEADING STYLING ENDS*******************************/