body{
    background-color: aquamarine;
    background: #121213;
    background-image: radial-gradient(top, circle cover, #212122 0%, #181622 80%);
    background-attachment: fixed;
    background-image: url('https://wallpaperplay.com/walls/full/3/d/0/29078.jpg');
    letter-spacing: 0.0625em;

    height: 200vh; /* to check onscroll navbar bg change effect*/
}
  
  #about {
    margin: 60px;
    margin-top: 120px;
    margin-bottom: 110px;
  }
  
  .about-section {
    padding-top: 4rem;
    background-color: black;
  }
  
  .about-section p {
    margin-bottom: 5rem;
  }
  
  #about a {
    color: #781c2e;
  }
  
  a:focus, a:hover {
    text-decoration: none;
    color: #3c6360;
  }
  
  .bg-black {
    background-color: #161616 !important;
  }
  
  #about .bg-primary {
    background-color: #781c2e !important;
  }
  
  #about .text-primary {
    color: #781c2e !important;
  }
  
  /* Headshots */
  
  figure {
    margin-top: 30px;
    position: relative;
    display: inline-block;
    border-radius: 100%;
    width: 180px;
    height: 180px;
    transition: all 250ms;
  
  }
  
  .one {
    position: relative;
    z-index: 1;
    height: 160px;
  
  }
  
  .one:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
    width: 180px;
    height: 180px;
    border-radius: 80rem;
    background-color: lightgrey;
    transform: scale(1);
    transition: all 250ms;
  }
  
  .one img {
    position: relative;
    display: inline-block;
    z-index: 1;
    overflow: hidden;
    width: 180px;
    border-radius: 8rem;
  }
  .one:hover:before {
    background-color: #af2a3c;
    transform: scale(1.1);
  }
  
  
  .headshottext{
    margin-top: 10px;
    padding-left: 10px;
  
  }
  
  .headshotgrade{
    margin-top: -5rem;
    font-size: 70%;
  }
  /*******************************ALUMNI PAGE STYLING ENDS**************************/
  
  /**********************************HEADING STYLING**************************************/
  @font-face {
    font-family: Clip;
    src: url("https://acupoftee.github.io/fonts/Clip.ttf");
  }
  
  
  
  .sign {
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-image: radial-gradient(
      ellipse 50% 35% at 50% 50%,
      
      transparent
    );
    
    letter-spacing: 2;
    left: 50%;
    top: 20%;
    font-family: "Clip";
    text-transform: uppercase;
    font-size: 3em;
    color: #ffe6ff;
    text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd,
      -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd,
      0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
    animation: shine 2s forwards, flicker 3s infinite;
  }
  
  @keyframes blink {
    0%,
    22%,
    36%,
    75% {
      color: #ffe6ff;
      text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd,
        -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd,
        0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
    }
    28%,
    33% {
      color: #ff65bd;
      text-shadow: none;
    }
    82%,
    97% {
      color: #ff2483;
      text-shadow: none;
    }
  }
  
  .flicker {
    animation: shine 2s forwards, blink 3s 2s infinite;
  }
  
  .fast-flicker {
    animation: shine 2s forwards, blink 10s 1s infinite;
  }
  
  @keyframes shine {
    0% {
      color: #6b1839;
      text-shadow: none;
    }
    100% {
      color: #ffe6ff;
      text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd,
        -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd,
        0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
    }
  }
  
  @keyframes flicker {
    from {
      opacity: 1;
    }
  
    4% {
      opacity: 0.9;
    }
  
    6% {
      opacity: 0.85;
    }
  
    8% {
      opacity: 0.95;
    }
  
    10% {
      opacity: 0.9;
    }
  
    11% {
      opacity: 0.922;
    }
  
    12% {
      opacity: 0.9;
    }
  
    14% {
      opacity: 0.95;
    }
  
    16% {
      opacity: 0.98;
    }
  
    17% {
      opacity: 0.9;
    }
  
    19% {
      opacity: 0.93;
    }
  
    20% {
      opacity: 0.99;
    }
  
    24% {
      opacity: 1;
    }
  
    26% {
      opacity: 0.94;
    }
  
    28% {
      opacity: 0.98;
    }
  
    37% {
      opacity: 0.93;
    }
  
    38% {
      opacity: 0.5;
    }
  
    39% {
      opacity: 0.96;
    }
  
    42% {
      opacity: 1;
    }
  
    44% {
      opacity: 0.97;
    }
  
    46% {
      opacity: 0.94;
    }
  
    56% {
      opacity: 0.9;
    }
  
    58% {
      opacity: 0.9;
    }
  
    60% {
      opacity: 0.99;
    }
  
    68% {
      opacity: 1;
    }
  
    70% {
      opacity: 0.9;
    }
  
    72% {
      opacity: 0.95;
    }
  
    93% {
      opacity: 0.93;
    }
  
    95% {
      opacity: 0.95;
    }
  
    97% {
      opacity: 0.93;
    }
  
    to {
      opacity: 1;
    }
  }
  @media(max-width:990px){
      h1{
          font-size: 30px;
      }
  }
  /*********************************HEADING STYLING ENDS*******************************/