body{
  letter-spacing: 0.0625em;
}

#about .outer-border {
	border: 2px solid #DE9B72;
   	height: 99%;
    width: 98%;
    padding: 6px;
    margin: 0 auto;
}

@media (min-width: 992px) {
	#about .outer-border {
		height: 94%;
	}
}

#about .mid-border {
    border: 6px solid #DE9B72;
    height: 100%;
    width: 100%;
    padding: 6px;
    margin: auto;
}

#about .inner-border {
	position: relative;
	border: 2px solid #DE9B72;
    height: 100%;
    width: 100%;
    margin: auto;
}


/* Decorations */
#about .corner-decoration {
	position: absolute;
    width: 3em;
    margin: -3px;
}

@media (min-width: 767px) {
	#about .corner-decoration {
		width: 3.5em;
	  	margin: -4px;
	}
}

@media (min-width: 992px) {
	#about .corner-decoration {
		width: 4em;
	  	margin: -5px;
	}
}

@media (min-width: 1200px) {
	#about .corner-decoration {
		width: 5em;
	  	margin: -6px;
	}
}

#about .corner-decoration.corner-left-top {
	left: 0;
	top: 0;
}

#about .corner-decoration.corner-right-top {
	top: 0;
	right: 0;
	 -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

#about .corner-decoration.corner-right-bottom {
	right: 0;
	bottom: 0;
	 -webkit-transform: scale(-1);
  	transform: scale(-1);
}

#about .corner-decoration.corner-left-bottom {
	left: 0;
	bottom: 0;
	-webkit-transform: scaleY(-1);
  	transform: scaleY(-1);
}


#about .vertical-decoration {
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
	width: 11em;
}


@media (min-width: 767px) {
	#about .vertical-decoration {
		width: 16em;
	}
}


@media (min-width: 992px) {
	#about .vertical-decoration {
		width: 20em;
	}
}

@media (min-width: 1200px) {
	#about .vertical-decoration {
		width: 27em;
	}
}

#about .vertical-decoration.top {
	top: 0;

}

#about .vertical-decoration.bottom {
	bottom: 0;
	-webkit-transform: scaleY(-1);
  	transform: scaleY(-1);
}

#about{
  margin-top: 80px;
  margin-bottom: 30px;
}

#about .blurrer {
  height: 140px;
  position: absolute;
  top: -50px;
  left: -20px;
  right: -10px;
  overflow: hidden;
  filter: blur(18px);
  opacity: 0.7;
  z-index: -9999;
  background-color: rgba(0, 0, 0, 1);
  background-size: cover;
}

.about-section {
  padding-top: 2rem;
  /* background-color: black; */

}

.about-section p {
  margin-bottom: 5rem;
}

#about a {
  color: #781c2e;
}

#about a:focus, #about a:hover {
  text-decoration: none;
  color: #3c6360;
}

#about .bg-black {
  background-color: #161616 !important;
}

#about .bg-primary {
  background-color: #781c2e !important;
}

#about .text-primary {
  color: #781c2e !important;
}

/* Headshots */

#about figure {
  margin-top: 30px;
  
  position: relative;
  display: inline-block;
  border-radius: 100%;
  width: 180px;
  height: 180px;
  transition: all 250ms;

}

#about .one {
  position: relative;
  z-index: 1;
  height: 160px;

}

#about .one:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
  width: 180px;
  height: 180px;
  border-radius: 80rem;
  background-color: lightgrey;
  transform: scale(1);
  transition: all 250ms;
}

#about .one img {
  position: relative;
  display: inline-block;
  z-index: 1;
  overflow: hidden;
  width: 180px;
  border-radius: 8rem;
}
#about .one:hover:before {
  background-color: #af2a3c;
  transform: scale(1.1);
}
#about .headshottext{
  margin-top: 10px;
  padding-left: 10px;

}

#about .headshotgrade{
  margin-top: -5rem;
  font-size: 70%;
}
/*******************************ALUMNI PAGE STYLING ENDS**************************/
/**********************************HEADING STYLING**************************************/
@font-face {
font-family: 'Iceland';
font-style: normal;
font-weight: 400;
src: local('Iceland'), local('Iceland-Regular'), url(https://themes.googleusercontent.com/static/fonts/iceland/v3/F6LYTZLHrG9BNYXRjU7RSw.woff) format('woff');
}

#about .heading{
text-align:center;
font-size:5em;
font-family:Iceland;
margin: 10px !important;
}
#about .blue{
color: white !important;

}
#about a:hover{
color: aqua !important;
}
@media screen and (max-width: 990px) {
  #about .heading{
  font-size: 40px;
}
}
/*********************************HEADING STYLING ENDS*******************************/