/* ===================Carousel========================*/
#carousel{
    
  background: transparent;
padding-top: 55px;
}
#carousel .carousel-inner{   
  height : auto;
  width : 100%;
}
.carousel-item {
 
background-size: 100% 100%;
background-position: center;
background-repeat: no-repeat;
background-attachment: fixed;
}
.carousel-control-prev,
.carousel-control-next {
font-size: 35px;
margin-left: -4%;
margin-right: -4%;
position: absolute;
}

.carousel-control-next-icon:after {
box-sizing: border-box;
}

.carousel-control-prev-icon:after {
box-sizing: border-box;
}

@media (max-width: 767px){
.carousel-item {
  height: 45vh; 
  background-attachment: scroll;
}


}
@media (min-width: 768px){
.carousel-item {
  height: 90vh; 
}
}
 /*============Carousel ends=====================*/

/* ==============Mission=========================== */
#mission{
    text-align: center;
    
}
#mission_title{
    color: #016A86;
    font-weight: 800;
}
#mission .jumbotron a{
    color: #00f;
    box-shadow: 5px 5px 5px black;
}
#mission .jumbotron p{
    color: whitesmoke;
    word-wrap: normal;
}
#mission .jumbotron p:first-of-type{
  font-size: 1.8em;
}
#mission .jumbotron hr{
    background-color: rgb(207, 144, 9);
}
#mission .jumbotron{
    background-color: transparent;
}
#mission_img{
    height: 50%;
}
@media(min-width: 992px){
  #mission .jumbotron p:last-of-type{
    font-size: 1.2em;
  }
}
/* ==============Mission ends=========================== */


/*============Timeline Starts=====================*/


#timeline ol{
    list-style-type: none;
}
#timeline .cd-horizontal-timeline {
  opacity: 0;
  margin: auto;
  transition: opacity 0.2s;
  list-style-type:none !important;
  
}
#timeline .cd-horizontal-timeline::before {
   content: 'mobile';
  display: none;
}
#timeline .cd-horizontal-timeline.loaded {
    opacity: 1;
}
#timeline.cd-horizontal-timeline .timeline {
  position: relative;
  height: 100px;
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
}
#timeline.cd-horizontal-timeline .events-wrapper {
  position: relative;
  height: 100%;
  margin: 0 40px;
  overflow: hidden;
}
#timeline.cd-horizontal-timeline .events-wrapper::after, .cd-horizontal-timeline .events-wrapper::before {
  content: '';
  position: absolute;
  z-index: 2;
  top: 0;
  height: 100%;
  width: 20px;
}
#timeline.cd-horizontal-timeline .events-wrapper::before {
  left: 0;
  background-image: linear-gradient(to right, #f8f8f8 );
}
#timeline.cd-horizontal-timeline .events-wrapper::after {
  right: 0;
  background-image: linear-gradient(to left, #f8f8f8);
}
#timeline.cd-horizontal-timeline .events {
  
  position: absolute;
  z-index: 1;
  left: 0;
  top: 49px;
  height: 10px;
  background: black;
  transition: transform 0.8s;
}
#timeline.cd-horizontal-timeline .filling-line {
  
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #223F99;
  transform: scaleX(0);
  transform-origin: left center;
  
  transition: transform 0.3s;
}
#timeline.cd-horizontal-timeline .events a {
  position: absolute;
  bottom: 0;
  z-index: 2;
  text-align: center;
  font-size: 1.1rem;
  padding-bottom: 20px;
  color: #cf9009;
  text-decoration: none;
  transform: translateZ(0);
}
#timeline .events-content{
    
    height: auto !important;
    padding: 60px 20px;
  
}
.timeline .events a::after {
  content: '';
  position: absolute;
  left: 50%;
  right: auto;
  transform: translateX(-50%);
  bottom: -5px;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  border: 2px solid black;
  background-color: black;
  transition: background-color 0.3s, border-color 0.3s;
}
#timeline.no-touch .cd-horizontal-timeline .events a:hover::after {
  background-color: #7b9d6f;
  border-color: #7b9d6f;
}
#timeline.cd-horizontal-timeline .events a.selected {
  pointer-events: none;
}
#timeline.cd-horizontal-timeline .events a.selected::after {
  background-color: #223F99;
  border-color: #223F99;
}
#timeline.cd-horizontal-timeline .events a.older-event::after {
  border-color: #223F99;
}
@media only screen and (min-width: 1100px) {
  #timeline.cd-horizontal-timeline {
    margin: 6em auto;
  }
  #timeline.cd-horizontal-timeline::before {
    /* never visible - this is used in jQuery to check the current MQ */
    content: 'desktop';
  }
}
#timeline .cd-timeline-navigation{
    list-style-type:none;
}
#timeline .cd-timeline-navigation a {
  /* these are the left/right arrows to navigate the timeline */
  position: absolute;
  z-index: 1;
  top: 50%;
  bottom: auto;
  transform: translateY(-50%);
  height: 34px;
  width: 34px;
  border-radius: 50%;
  border: 2px solid #dfdfdf;
  /* replace text with an icon */
  overflow: hidden;
  color: transparent;
  text-indent: 100%;
  white-space: nowrap;
  transition: border-color 0.3s;
}
#timeline .cd-timeline-navigation a::after {
  /* arrow icon */
  content: '';
  position: absolute;
  height: 16px;
  width: 16px;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  transform: translateX(-50%) translateY(-50%);
  
}
#timeline .cd-timeline-navigation a.prev {
  left: 0;
  transform: translateY(-50%) rotate(180deg);
}
#timeline .cd-timeline-navigation a.next {
  right: 0;
}
#timeline.no-touch .cd-timeline-navigation a:hover {
  border-color: #7b9d6f;
}
#timeline .cd-timeline-navigation a.inactive {
  cursor: not-allowed;
}
#timeline .cd-timeline-navigation a.inactive::after {
  background-position: 0 -16px;
}
#timeline .no-touch .cd-timeline-navigation a.inactive:hover {
  border-color: #dfdfdf;
}

#timeline .cd-horizontal-timeline .events-content {
  position: relative;
  width: 100%;
  overflow: hidden;
  transition: height 0.4s;
}
 .cd-horizontal-timeline .events-content li {
  position: absolute;
  z-index: 1;
  width: 100%;
  left: 0;
  top: 0;
  transform: translateX(-100%);
  padding: 0 5%;
  opacity: 0;
  animation-duration: 0.8s;
  animation-timing-function: ease-in-out;
}
#timeline.cd-horizontal-timeline .events-content li.selected {

  position: relative;
  z-index: 2;
  opacity: 1;
  transform: translateX(0);
  
 
}
#timeline .box{
  border: 1px solid white;
  padding: 10px;
  box-shadow: 5px 10px white;
  padding: 40px;
}
#timeline.cd-horizontal-timeline .events-content li.enter-right, .cd-horizontal-timeline .events-content li.leave-right {
  animation-name: cd-enter-right;
  
}
#timeline.cd-horizontal-timeline .events-content li.enter-left, .cd-horizontal-timeline .events-content li.leave-left {
  animation-name: cd-enter-left;
}
#timeline.cd-horizontal-timeline .events-content li.leave-right, .cd-horizontal-timeline .events-content li.leave-left {
  
  animation-direction: reverse;
}
#timeline.cd-horizontal-timeline .events-content li > * {
  max-width: 800px;
  margin: 0 auto;
}
#timeline.cd-horizontal-timeline .events-content h2 {
  font-weight: bold;
  font-size: 2.6rem;
  font-family: "Playfair Display", serif;
  font-weight: 700;
  line-height: 1.2;
}
#timeline.cd-horizontal-timeline .events-content em {
  display: block;
  margin: 10px auto;
  color: #016A86;
  font-size: 1.5em;
}
#timeline.cd-horizontal-timeline .events-content em::before {
  content: '- ';
}
#timeline.cd-horizontal-timeline .events-content p {
  font-size: 1rem;
  color: white;
}

@media (min-width: 768px) {
  #timeline .cd-horizontal-timeline .events-content h2 {
    font-size: 7rem;
  }
  #timeline .cd-horizontal-timeline .events-content em {
    font-size: 1.5rem;
  }
  #timeline .cd-horizontal-timeline .events-content p {
    font-size: 1.2rem;
  }
}


@keyframes cd-enter-right {
  0% {
    
    opacity: 0;
  }
  100% {
    opacity: 1;
    
  }
}

@keyframes cd-enter-left {
  0% {
    opacity: 0;
    
  }
  100% {
    opacity: 1;
    
  }
}

/*============Timeline Ends=====================*/