body{
    background-color: aquamarine;
}
h3{
    text-align: center;
}

/*************** sponsers ***************/
#sponsors {
    margin-top: 100px;
}

#demo {
    
    background: linear-gradient(112deg, #cfe5cf 50%, #a0c1b8 50%);
    max-width: 1200px;
    margin: auto
}

.sponsors-caption {
    position: initial;
    z-index: 10;
    padding: 5rem 8rem;
    color: rgba(78, 77, 77, 0.856);
    text-align: center;
    font-size: 1.4rem;
    font-style: italic;
    font-weight: bold;
    line-height: 2rem
}

@media(max-width:767px) {
    .sponsors-caption {
        position: initial;
        z-index: 10;
        padding: 3rem 2rem;
        color: rgba(78, 77, 77, 0.856);
        text-align: center;
        font-size: 0.7rem;
        font-style: italic;
        font-weight: bold;
        line-height: 1.5rem
    }
}

.sponsors-caption img {
    width: 17rem;
   height: 8rem;
    margin-top: 2rem
}

@media(max-width:767px) {
    .sponsors-caption img {
        width: 4rem;
        
        margin-top: 1rem
    }
}





i {
    background-color: black;
    padding: 1.4rem
}

@media(max-width:767px) {
    i {
        padding: 0.8rem
    }
}

.carousel-control-prev {
    justify-content: flex-start
}

.carousel-control-next {
    justify-content: flex-end
}

.carousel-control-prev,
.carousel-control-next {
    transition: none;
    opacity: unset
}
@media(max-width:990px) {
    .sponsors-caption img {
        width: 10rem;
       height: 5rem;
        margin-top: 2rem
    }
    
    
}
@media(max-width:900px){
    .button {
        display: none;
    }
}
/* ******************************************** */