@import url(https://fonts.googleapis.com/css?family=Oswald:400,700,300);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,600);

body{
   background:
  linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
  linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
  linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
  linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
  linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
  linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
  background-color: #131313;
  background-size: 20px 20px;
  height: 120vh;
  
}
 
*{
   outline:none
}
#support .donate {
   /*padding: 50px*/
   background-color: #171b24;
   width: 400px;
   max-height: 100vh;
   color: #FFF;
   overflow-x: hidden;
   position: fixed;
   z-index: 1;
   top: 50px;
   right: 0;
   padding-top: 20px;
}

#support .donate p {
   line-height: 24px;
   font-size: 14px;
   font-weight: 300;
}

#support .donate h3 {
   font-size: 14px;
   font-weight: 300;
   margin-bottom: 15px;
}

#support .denomination {
   float: left;
   width: 33%;
   text-align: center;
   padding: 13px 0;
   cursor: pointer;
   background-color: #171b24;
   margin: 0 1px 1px 0;
   transition: background-color 0.2s ease;
}

#support .denomination label {
   font-weight: 600;
   cursor: pointer;
}

#support .denomination input {
   left: -10001px;
   position: absolute;
}

#support .denomination-other {
   width: 99.8%;
}

#support .denomination-other input {
   position: relative;
   color: #FFF;
   font-size: 14px;
   font-weight: 600;
   width: inherit;
   text-align: center;
   background-color: #171b24;
   border: none;
   padding: 13px 0;
   transition: background-color 0.2s ease;
}

#support .denomination-other input:hover {
   background-color: #223F99;
}

#support .denomination-other input:before {
   position: absolute;
   left: 6px;
   top: 2px;
   content: '$';
}

#support .donate-amount .selected,
#support .denomination-other input.selected,
#support .donate-amount .denomination:hover {
   background-color: #223F99;
   border: 0;
}

#support .donate-black h2 {
   font-family: 'Oswald', sans-serif;
   color: #FFF;
   font-size: 32px;
   margin-bottom: 20px;
}

#support .donate-black h2 span {
   display: block;
   float: left;
   font-size: 16px;
   padding-top: 7px;
   margin-right: 20px;
   text-align: center;
   width: 30px;
   height: 35px;
   background-color: #223F99;
   border-radius: 50%;
}

#support .donate-type label,
#support .donate-payment label {
   font-size: 14px;
   font-weight: 300;
   margin-right: 30px;
}

#support .donate-blue {
   background-color: #1e252d;
   padding: 25px;
}

#support .donate-black {
   padding: 25px;
}

#support .donate-submit button {
   font-family: 'Oswald', sans-serif;
   width: 100%;
   background-color: #223F99;
   border: none;
   color: #FFF;
   font-size: 20px;
   line-height: 20px;
   padding: 14px 0;
   margin: 15px 0;
   text-transform: uppercase;
   cursor: pointer;
}

#support .donate-submit small {
   color: rgba(255, 255, 255, 0.4);
   font-size: 13px;
}

/* Card */

#support .wrapper1 {
    top: 100px;
    width: 300px;
    height: 500px;
    background: white;
    margin: 0 20px;
    display: inline-block;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0;
    transform: scale(0.95);
    transition: box-shadow 0.5s, transform 0.5s;
 }
 
 #support .wrapper1:hover {
    transform: scale(1);
    box-shadow: 5px 20px 30px rgba(0, 0, 0, 0.2);
 }
 
 #support .wrapper1 .container1 {
    width: 100%!important;
    height: 100%!important;
 }
 
 #support .wrapper1 .container1 .top img {
    height: 80%;
    width: 100%;
    background: no-repeat center center;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
 }
 
 #support .wrapper1 .container1 .bottom {
    width: 200%;
    height: 80%;
    transition: transform 0.5s;
 }
 
 #support .wrapper1 .container1 .bottom.clicked {
    transform: translateX(-50%);
 }
 
 #support .wrapper1 .container1 .bottom h1 {
    margin: 0;
    padding: 0;
 }
 
 #support .wrapper1 .container1 .bottom p {
    margin: 0;
    padding: 0;
 }
 
 #support .wrapper1 .container1 .bottom .left {
    height: 100%;
    width: 50%;
    background: #f4f4f4;
    color: #00394b;
    position: relative;
    float: left;
 }
 
 #support .wrapper1 .container1 .bottom .left .details {
    padding: 20px;
    float: left;
    width: calc(70% - 40px);
 }
 
 #support .wrapper1 .container1 .bottom .left .buy {
    float: right;
    width: calc(30% - 2px);
    height: 100%;
    background: #f1f1f1;
    transition: background 0.5s;
    border-left: solid thin rgba(0, 0, 0, 0.1);
 }
 
 #support .wrapper1 .container1 .bottom .left .buy i {
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 25%;
    color: #254053;
    transition: transform 0.5s;
 }
 
 #support .wrapper1 .container1 .bottom .left .buy:hover {
    background: #a6cdde;
 }
 
 #support .wrapper1 .container1 .bottom .left .buy:hover i {
    transform: translateY(5px);
    color: #00394b;
 }
 
 #support .wrapper1 .container1 .bottom .right {
    width: 50%;
    background: #a6cdde;
    color: #00394b;
    float: right;
    height: 200%;
    overflow: hidden;
 }
 
 #support .wrapper1 .container1 .bottom .right .details {
    padding: 10px 0;
    float: right;
    width: calc(70% - 40px);
 }
 
 #support .wrapper1 .container1 .bottom .right .done {
    width: calc(30% - 2px);
    float: left;
    transition: transform 0.5s;
    background: #bc3b59;
    border-right: solid thin rgba(255, 255, 255, 0.3);
    height: 50%;
 }
 
 #support .wrapper1 .container1 .bottom .right .done i {
    font-size: 30px;
    /* padding: 30px; */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 25%;
    color: white;
 }
 
 #support .wrapper1 .container1 .bottom .right .remove {
    width: calc(30% - 1px);
    clear: both;
    border-right: solid thin rgba(255, 255, 255, 0.3);
    height: 50%;
    background: #bc3b59;
    transition: transform 0.5s, background 0.5s;
 }
 
 #support .wrapper1 .container1 .bottom .right .remove:hover {
    background: #9b2847;
 }
 
 #support .wrapper1 .container1 .bottom .right .remove:hover i {
    transform: translateY(5px);
 }
 
 #support .wrapper1 .container1 .bottom .right .remove i {
    transition: transform 0.5s;
    font-size: 30px;
    padding: 30px;
    color: white;
 }
 
 #support .wrapper1 .container1 .bottom .right:hover .remove,
 #support .wrapper1 .container1 .bottom .right:hover .done {
    transform: translateY(-100%);
 }
 
 #support .wrapper1 .inside {
    z-index: 9;
    background: #92879b;
    width: 140px;
    height: 140px;
    position: absolute;
    top: -70px;
    right: -70px;
    border-radius: 0px 0px 200px 200px;
    transition: all 0.5s, border-radius 2s, top 1s;
    overflow: hidden;
 }
 
 #support .wrapper1 .inside .icon {
    position: absolute;
    right: 85px;
    top: 85px;
    color: white;
    opacity: 1;
 }
 
 #support .wrapper1 .inside:hover {
    width: 100%;
    right: 0;
    top: 0;
    border-radius: 0;
    height: 80%;
 }
 
 #support .wrapper1 .inside:hover .icon {
    opacity: 0;
    right: 15px;
    top: 15px;
 }
 
 #support .wrapper1 .inside:hover .contents {
    opacity: 1;
    transform: scale(1);
    transform: translateY(0);
 }
 
 #support .wrapper1 .inside .contents {
    padding: 5%;
    opacity: 0;
    transform: scale(0.5);
    transform: translateY(-200%);
    transition: opacity 0.2s, transform 0.8s;
 }
 
 #support .wrapper1 .inside .contents h2,
 #support .wrapper1 .inside .contents p {
    color: white;
 }
 
 #support .wrapper1 .inside .contents p {
    font-size: 13px;
 }