<<<<<<< HEAD
@import url(//db.onlinewebfonts.com/c/401b3afcdd14cf76b92956ecc7f7d8e6?family=Eras+Bold+ITC);
body {
    background: #121213;
    font-family: 'Racing Sans One', cursive;
}

#teamWrapper {
    padding-top: 3%;
=======
body {
    background: #121213;
}

#teamWrapper {
    margin-top: 75px;
>>>>>>> 2e34a771403a2a320d6ee7e35a93b8e2c9c3830f
    text-align: center;
}

#teamWrapper .container {
    padding-top: 3%;
    text-align: center;
}

#aboutUs .heading {
    color: #0779e4;
}

#aboutUsText {
    margin-left: 10%;
<<<<<<< HEAD
    color: #969696;
    width: 80%;
=======
    color: #808080;
    width: 80%;
    font-size: 1.5em;
    line-height: 2em;
>>>>>>> 2e34a771403a2a320d6ee7e35a93b8e2c9c3830f
}

#aboutUsText span {
    color: #29aafe;
}

#teamWrapper .container img {
    width: 150px;
    padding: 5px;
    border-radius: 100%;
    transition-duration: 500ms;
}

<<<<<<< HEAD
=======
#images{
    margin-top: 2.5em;
    color: #808080;
}

>>>>>>> 2e34a771403a2a320d6ee7e35a93b8e2c9c3830f
#images span {
    transition-duration: 250ms;
}

#images span:hover {
    color: #29aafe;
    transition-duration: 250ms;
}

#faculty,
#lead {
    margin-bottom: 2%;
}

#faculty span:hover img {
    box-shadow: -3px -3px 3px 0 #0779e4 inset;
    transition-duration: 500ms;
}

#lead span:hover img {
    box-shadow: -3px -3px 3px 0 #29aafe inset;
    transition-duration: 500ms;
}

#teamPhotos span:hover img {
    box-shadow: -3px -3px 3px 0 #4cbbb9 inset;
    transition-duration: 500ms;
}

#teamPhotos .row {
    display: flex;
    margin-bottom: 2%;
}

#teamPhotos .column {
    flex: 33.33%;
<<<<<<< HEAD
=======
}

@media(max-width: 991px){
    #aboutUsText {
        width: 90%;
        font-size: 1.5em;
        line-height: 1.5em;
    }
}
@media(max-width: 767px){
    #aboutUsText {
        width: 90%;
        font-size: 1.2em;
        line-height: 1.2em;
    }
}
@media(max-width: 376px){
    #aboutUsText {
        width: 90%;
        font-size: 1em;
        line-height: 1.2em;
    }
>>>>>>> 2e34a771403a2a320d6ee7e35a93b8e2c9c3830f
}